<!-- Editable wrapper -->
<main [formGroup]="parent">
  <div formArrayName="slimEntryConfig">
    <div *ngFor="let entry of slimEntries; let i = index">
      <div [dragula]="COMPONENTS">
        <editable (save)="update(i)" (cancel)="cancel()">
          <div [formGroupName]="i">
            <div formGroupName="configuration_json">
              <!-- Actual component -->
              <ng-template viewMode>
                <div class="true-component">
                  <mat-form-field
                    class="w-full px-8 text-white font-quicksand font-semibold"
                    [appearance]="entry.value.configuration_json.Borderless"
                    [ngStyle]="{
                      'padding-top':
                        this.entry.value.configuration_json.Padding.top + 'px',
                      'padding-right':
                        this.entry.value.configuration_json.Padding.right +
                        'px',
                      'padding-bottom':
                        this.entry.value.configuration_json.Padding.bottom +
                        'px',
                      'padding-left':
                        this.entry.value.configuration_json.Padding.left + 'px'
                    }"
                  >
                    <mat-label class="text-white">{{
                      entry.value.configuration_json.FieldName
                    }}</mat-label>
                    <input
                      [type]="entry.value.configuration_json.Type"
                      matInput
                      [placeholder]="entry.value.configuration_json.Placeholder"
                      [required]="entry.value.configuration_json.IsRequired"
                    />
                  </mat-form-field>
                </div>
              </ng-template>
              <ng-template editMode>
                <!-- For preview only -->
                <div>
                  <mat-form-field
                    class="w-full px-8 text-white font-quicksand font-semibold"
                    [appearance]="entry.value.configuration_json.Borderless"
                    [ngStyle]="{
                      'padding-top':
                        this.entry.value.configuration_json.Padding.top + 'px',
                      'padding-right':
                        this.entry.value.configuration_json.Padding.right +
                        'px',
                      'padding-bottom':
                        this.entry.value.configuration_json.Padding.bottom +
                        'px',
                      'padding-left':
                        this.entry.value.configuration_json.Padding.left + 'px'
                    }"
                  >
                    <mat-label class="text-white">{{
                      entry.value.configuration_json.FieldName
                    }}</mat-label>
                    <input
                      [type]="entry.value.configuration_json.Type"
                      matInput
                      [placeholder]="entry.value.configuration_json.Placeholder"
                      [required]="entry.value.configuration_json.IsRequired"
                    />
                  </mat-form-field>
                </div>
                <!-- Edit form -->
                <app-editor-sidebar>
                  <section edit-form>
                    <section class="edit-section edit-section-title">
                      <div class="flex justify-start items-center gap-x-4">
                        <h2 class="font-noir text-xs font-normal">
                          Is it required?:
                        </h2>
                        <mat-checkbox
                          class="p-1"
                          formControlName="IsRequired"
                        ></mat-checkbox>
                      </div>
                    </section>
                    <section class="edit-section">
                      <h2 class="edit-section-title">Set GroupName:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Enter initial value"
                        type="text"
                        formControlName="GroupName"
                      />
                    </section>
                    <section class="edit-section">
                      <h2 class="edit-section-title">Set FieldName:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Enter initial value"
                        type="text"
                        formControlName="FieldName"
                      />
                    </section>
                    <section class="edit-section">
                      <h2 class="edit-section-title">Set Placeholder:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Enter initial value"
                        type="text"
                        formControlName="Placeholder"
                      />
                    </section>
                    <section class="edit-section">
                      <h2 class="edit-section-title">Set Appearance:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="fill, legacy, standard, outline"
                        type="text"
                        formControlName="Borderless"
                      />
                    </section>
                    <section class="edit-section">
                      <h2 class="edit-section-title">Set Input Type:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="date, email, password, number, etc..."
                        type="text"
                        formControlName="Type"
                      />
                    </section>

                    <section class="edit-section">
                      <!-- Padding -->
                      <h2 class="edit-section-title">Padding:</h2>
                      <div formGroupName="Padding">
                        <app-padding-control>
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="top"
                            paddingTop
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="left"
                            paddingLeft
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="right"
                            paddingRight
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="bottom"
                            paddingBottom
                          />
                        </app-padding-control>
                      </div>
                    </section>
                  </section>
                  <!-- Code edit form -->
                  <code class="code-box" edit-config-code>
                    <section>
                      <label for="icon">IsRequired: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="IsRequired"
                      />
                    </section>
                    <section>
                      <label for="icon">IsPassword: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="IsPassword"
                      />
                    </section>
                    <section>
                      <label for="icon">Borderless: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Borderless"
                      />
                    </section>
                    <section>
                      <label for="icon">Placeholder: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Placeholder"
                      />
                    </section>
                    <section>
                      <label for="icon">FieldName: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="FieldName"
                      />
                    </section>
                    <section>
                      <label for="icon">Type: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Type"
                      />
                    </section>
                    <section formGroupName="Padding">
                      <pre>Padding: </pre>
                      <section>
                        <label for="top">top: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="top"
                        />
                      </section>
                      <section>
                        <label for="right">right: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="right"
                        />
                      </section>
                      <section>
                        <label for="bottom">bottom: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="bottom"
                        />
                      </section>
                      <section>
                        <label for="left">left: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="left"
                        />
                      </section>
                    </section>
                  </code>
                  <!-- Save component version -->
                  <div class="form-submit-wrapper z-50" save-component>
                    <section class="form-submit-section">
                      <app-save-button
                        (click)="saveComponent(i)"
                      ></app-save-button>
                      <app-cancel-button editableOnCancel></app-cancel-button>
                    </section>
                  </div>
                </app-editor-sidebar>
              </ng-template>
            </div>
          </div>
        </editable>
      </div>
    </div>
  </div>
</main>
