<form [formGroup]="slideTwo">
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="edit-section-title border-none">
      Slide 2:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <label for="headline" class="flex flex-col justify-start items-start">
      <span class="text-xs font-medium-light">Headline</span>
      <input
        class="rounded-full my-2 text-base"
        placeholder="Enter Headline"
        type="text"
        formControlName="headlineSlideTwo"/>
        <span class="text-xs font-medium-light">Description</span>
        <textarea
        class="rounded-lg my-2 w-full text-base"
        placeholder="Enter Description"
        type="text"
        formControlName="descriptionSlideTwo">
      </textarea>

      <span class="text-xs font-medium-light">Slide Image</span>
      <section class="image-selection flex justify-start items-center gap-3 flex-wrap">
        <img src="../../assets/complete-your-profile.svg" (click)="setSlideImage('slideTwoImage', '../../assets/complete-your-profile.svg')">
          <img src="../../assets/sitting-blocks.svg" (click)="setSlideImage('slideTwoImage', '../../assets/sitting-blocks.svg')">
          <img src="../../assets/block-tap.svg" (click)="setSlideImage('slideTwoImage', '../../assets/block-tap.svg')">
          <img src="../../assets/girl-laying.svg" (click)="setSlideImage('slideTwoImage', '../../assets/girl-laying.svg')">
          <img src="../../assets/girl-clicking.svg" (click)="setSlideImage('slideTwoImage', '../../assets/girl-clicking.svg')">
          <img src="../../assets/girl-sitting.svg" (click)="setSlideImage('slideTwoImage', '../../assets/girl-sitting.svg')">
          <img src="../../assets/question.svg" (click)="setSlideImage('slideTwoImage', '../../assets/question.svg')">
          <img src="../../assets/icons/coin-count.svg" (click)="setSlideImage('slideTwoImage', '../../assets/icons/coin-count.svg')">
          <img src="../../assets/refer-a-friend.svg" (click)="setSlideImage('slideTwoImage', '../../assets/refer-a-friend.svg')">
      </section>
    </label>
</mat-expansion-panel>
</form>
