<div class="form-group" [formGroup]="parent">
  <!-- Background Color -->
    <section>
      <h2 class="edit-section-title">
      Tile Colors:
    </h2>
      <div class="flex flex-wrap justify-between items-center gap-4">
        <button
          class="color-button primary-blue"
          (click)="setBgColor('bgColor', bg.primaryBlue)">
          #3589F9
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorTwo('bgColorTwo', bg.secondaryDark)">
          #141414
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorThree('bgColorThree', bg.ligherBlue)">
          #62B4FF
        </button>
        <button
          class="color-button primary-blue"
          (click)="setBgColorFour('bgColorFour', bg.primaryBlue)">
          #3589F9
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorFive('bgColorFive', bg.secondaryDark)">
          #141414
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorSix('bgColorSix', bg.ligherBlue)">
          #62B4FF
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorSeven('bgColorSeven', bg.ligherBlue)">
          #62B4FF
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorEight('bgColorEight', bg.ligherBlue)">
          #62B4FF
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColorNine('bgColorNine', bg.ligherBlue)">
          #62B4FF
        </button>
      </div>
    </section>
</div>