<main [formGroup]="parent">
  <section class="edit-section">
    <h2 class="edit-section-title">Set Component Version:</h2>
    <input
      class="form-control"
      placeholder="=Component version"
      type="text"
      formControlName="version"
    />
  </section>
  <section class="edit-section">
    <h2 class="edit-section-title">Set link string:</h2>
    <input
      class="form-control"
      placeholder="=Enter Text String"
      type="text"
      formControlName="string"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set link source:</h2>
    <input
      class="form-control"
      placeholder="=Enter Link Source"
      type="text"
      formControlName="link"
    />
  </section>

  <!-- Text Align Selection -->
  <section class="edit-section">
    <h2 class="edit-section-title">Text Align Adjustments:</h2>
    <div class="flex justify-between items-center gap-x-10">
      <button
        role="tab"
        class="text-sm text-ctdark hover:text-ctlight transition-all hover:scale-105"
        (click)="setTextAlign('textAlign', align.left)"
      >
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button
        role="tab"
        class="text-sm text-ctdark hover:text-ctlight transition-all hover:scale-105"
        (click)="setTextAlign('textAlign', align.center)"
      >
        <mat-icon>format_align_center</mat-icon>
      </button>
      <button
        role="tab"
        class="text-sm text-ctdark hover:text-ctlight transition-all hover:scale-105"
        (click)="setTextAlign('textAlign', align.right)"
      >
        <mat-icon>format_align_right</mat-icon>
      </button>
    </div>
  </section>
</main>
