<div class="carousel">
  <section>
    <drag-scroll [scrollbar-hidden]="hideScrollbar" (reachesLeftBound)="leftBoundStat($event)"
      (indexChanged)="onIndexChanged($event)" #nav>
      <!-- Section One -->
      <section class="w-full mx-auto" drag-scroll-item>
        <img *ngIf="imgHost" [src]="imgHost + carousel.value.sectionOne.Source" />
        <section class="text-center my-4">
          <div class="headline-grid">
            <h1 class="text-2xl font-bold tracking-wide leading-10" *ngIf="carousel" [ngStyle]="{

            }">
              {{ carousel.value.sectionOne.h1.Text }}
            </h1>
          </div>
          <div class="description-grid">
            <h2 class="my-2 text-base font-bold" [ngStyle]="{}">
              {{ carousel.value.sectionOne.h2.Text }}
            </h2>
          </div>
        </section>
      </section>

      <!-- Section Two -->
      <section class="w-full" drag-scroll-item>
        <img *ngIf="imgHost" [src]="imgHost + carousel.value.sectionTwo.Source" />
        <section class="text-center my-4">
          <div class="headline-grid">
            <h1 class="text-2xl font-bold tracking-wide leading-10" *ngIf="carousel" [ngStyle]="{}">
              {{ carousel.value.sectionTwo.h1.Text }}
            </h1>
          </div>
          <div class="description-grid">
            <h2 class="my-2 text-base font-bold" [ngStyle]="{}">
              {{ carousel.value.sectionTwo.h2.Text }}
            </h2>
          </div>
        </section>
      </section>

      <!-- Section Three -->
      <section class="w-full" drag-scroll-item>
        <img *ngIf="imgHost" [src]="imgHost + carousel.value.sectionThree.Source" />
        <section class="text-center my-4">
          <div class="headline-grid">
            <h1 class="text-2xl font-bold tracking-wide leading-10" *ngIf="carousel" [ngStyle]="{}">
              {{ carousel.value.sectionThree.h1.Text }}
            </h1>
          </div>
          <div class="description-grid">
            <h2 class="my-2 text-base font-bold" [ngStyle]="{}">
              {{ carousel.value.sectionThree.h2.Text }}
            </h2>
          </div>
        </section>
      </section>
    </drag-scroll>
  </section>

  <!-- Footer Nav -->
  <div class="footer-controls">
    <section class="footer-grid">
      <button (click)="moveLeft()" class="font-quicksand text-xs font-semibold hover:cursor-pointer">
        {{ carousel.Nav.LeftNav }}
      </button>
      <div class="flex justify-center items-center gap-x-2">
        <div class="active-dot"></div>
        <div class="active-dot"></div>
        <div class="active-dot"></div>
      </div>
      <button (click)="moveRight()" class="font-quicksand text-xs font-semibold hover:cursor-pointer">
        {{ carousel.Nav.RightNav }}
      </button>
    </section>
  </div>
</div>