drag-scroll {
  @apply h-full;

  img {
    @apply w-full h-full;
  }

  drag-scroll-item {
    @apply px-20;
  }
}

.carousel {
  @apply flex flex-col;
  drag-scroll {
    flex: 1;
  }
  .footer-controls {
    @apply absolute bottom-16;
    width: calc(100% - 66%);
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.carousel-height {
  height: 100vh !important;
}

.footer-grid {
  @apply w-full;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.active-dot {
  @apply rounded-full w-2 h-2 bg-gray-400;
}

.inactive-dot {
  @apply rounded-full w-2 h-2 bg-gray-500;
}
