<div class="form-group" [formGroup]="parent">

  <section>
    <h2 class="edit-section-title">
      Lottie Gallery:
    </h2>
    <div class="mt-4 flex flex-col justify-start"> 
      <div class="flex items-center justify-between mb-10  border-b">
        <button 
          class="w-20 h-20 transition-all ease-in-out hover:scale-125" 
          (click)="update()">
          <img src="../../../../../assets/animations/triangle-preview.png" alt="">
        </button>
        <button
          class="w-8 h-8 text-white rounded-full bg-lighterblue border border-ctlight"
          (click)="setTriangleColor()">
          B
        </button>
      </div>

      <div class="flex items-center justify-between mb-10  border-b">
        <button 
          class="w-20 h-20 transition-all ease-in-out hover:scale-125" 
          (click)="updateTwo()">
           <img src="../../../../../assets/animations/lego-preview.png" alt="">
        </button>

        <!-- <button
          class="w-8 h-8 rounded-full bg-black border border-gray-500"
          [ngClass]="{
          'lego-black-theme': bioticBlackTheme
        }"
          (click)="setLegoColor()">
          B
        </button> -->
      </div>

      <div class="flex items-center justify-between mb-10  border-b">
        <button 
          class="w-20 h-20 transition-all ease-in-out hover:scale-125" 
          (click)="updateThree()">
           <h2>Rocket</h2>
        </button>
      </div>
    </div>
  </section>
  
</div>