$button-default-background-color: #3589f9;
$button-default-border-radius: 100px;
$button-default-font-weight: Bold;
$button-default-font-size: 14;
$button-default-line-height: 150%;
$button-default-horizontal-padding: 32;
$button-default-vertical-padding: 16;
$button-hover-background-color: #1e6fdb;
$button-pressed-background-color: #105ec6;
$button-disabled-background-color: #24232b;
$button-focus-background-color: #c1cfe6;
$button-focus-border-width: 2;
$button-focus-border-color: #1e6fdb;
$button-filled-small-height: 40;
$button-filled-medium-height: 48;
$button-filled-large-height: 56;
