<main [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <!-- Test -->
  <!-- Main material sidenav -->
  <div *ngIf="es.isHidden" crowdTapComponents>
    <div class="w-60 h-full shadow-md bg-gray-800 px-1 absolute animate__animated animate__fadeInLeft animate__faster"
      style="z-index: 9999;">
      <ul class="relative">
        <li class="relative">
          <a class="flex items-center text-sm py-4 pl-2 mb-6 h-12 overflow-hidden text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-red-400 transition duration-300 ease-in-out"
            href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" (click)="close()">
            <mat-icon>close</mat-icon>&nbsp;Close Library
          </a>
        </li>
        <li class="relative">
          <!-- Component Selectors Menu-->
          <section components-menu>

            <!-- ADD SELECTORS HERE -->
            <app-image-selector [parent]="form" [components]="components" (baseAdded)="addBaseComponent($event)">
            </app-image-selector>

            <app-base-selectortwo [parent]="form" [components]="components" (baseAdded)="addBaseComponentTwo($event)">
            </app-base-selectortwo>

            <app-headline-selector [parent]="form" [components]="components" (baseAdded)="addHeadline($event)">
            </app-headline-selector>

            <app-button-selector [parent]="form" [components]="components" (baseAdded)="addPrimaryButton($event)">
            </app-button-selector>

            <app-input-selector [parent]="form" [components]="components" (baseAdded)="addSlimEntry($event)">
            </app-input-selector>

            <app-dropdown-selector [parent]="form" [components]="components" (baseAdded)="addDropdown($event)">
            </app-dropdown-selector>

            <app-appheader-selector [parent]="form" [components]="components" (baseAdded)="addAppHeader($event)">
            </app-appheader-selector>

            <hr size="1" />
          </section>
        </li>
      </ul>
    </div>
  </div>
  <!-- Test -->

  <app-material-shell>
    <!-- Visal Config and Screen Submit -->
    <div visualConfig class="flex justify-start items-center gap-x-2">
      <div>
        <button class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none"
          tippy="Screen Config" (click)="edit()">
          <mat-icon class="text-lg">tune</mat-icon>
        </button>
      </div>
      <div>
        <button
          class="py-2 px-3 mb-1 bg-ct-blue text-white transition ease-in-out duration-100 hover:cursor-pointer hover:scale-105 text-xs font-noir rounded-md shadow focus:outline-none"
          (click)="onSubmit($event)">
          Publish Config
        </button>
      </div>
    </div>

    <!-- Phone screen -->
    <section class="mt-4" phoneScreen>
      <div [ngClass]="viewPortClassSwitch()" class="viewport-canvas">
        <div class="viewport-inner-canvas drop-container basic-layout" [ngStyle]="visualConfigStyleObject()">

          <div class="flex justify-start flex-col border-red-300 border-b-2">
            <app-basecomponenttwo [parent]="form"></app-basecomponenttwo>
          </div>
          <!-- ADD CHILD COMPONENT HERE THAT WILL GET ADDED TO THE FORMARRAY -->

        </div>
      </div>
    </section>

    <!-- Edit sidebar for VisualConfig ONLY -->
    <app-editor-sidebar visualConfigEdit *ngIf="visualConfigSidebar">
      <!-- Edit form VisualConfig -->
      <div edit-form>
        <div formGroupName="visualConfig">
          <!-- VisualConfig Padding -->
          <section class="edit-section">
            <h2 class="edit-section-title">Screen Padding:</h2>
            <div formGroupName="Padding">
              <div class="flex justify-around items-center">
                <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                  formControlName="top" />
              </div>

              <section class="flex justify-around">
                <div class="flex justify-start items-center gap-x-2">
                  <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                    formControlName="left" />
                  <div class="rounded-md w-12 h-12 bg-gray-600 m-2 flex justify-center items-center">
                    <mat-icon class="text-white">horizontal_distribute</mat-icon>
                  </div>
                  <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                    formControlName="right" />
                </div>
              </section>

              <div class="flex justify-around items-center">
                <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                  formControlName="bottom" />
              </div>
            </div>
          </section>

          <!-- Background Color -->
          <section class="edit-section">
            <h2 class="edit-section-title">Screen Background Color:</h2>
            <section class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden">
              <div *ngFor="let color of colorPalettes">
                <button class="color-button" [class]="[color.class, color.textColor]"
                  (click)="changeVisaulConfigBgColor(color.color)" [tippy]="color.name"></button>
              </div>
            </section>
          </section>

          <!-- Background Image -->
          <section class="edit-section">
            <h2 class="edit-section-title">Background Image:</h2>
            <section class="flex flext-start justify-between items-center gap-3 flex-wrap image-gallery">
              <button (click)="changeVisualConfigBgImage('girl-laying.svg')">
                <img src="../../../../../assets/girl-laying.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('girl-sitting.svg')">
                <img src="../../../../../assets/girl-sitting.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('question.svg')">
                <img src="../../../../../assets/question.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('refer-a-friend.svg')">
                <img src="../../../../../assets/refer-a-friend.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('signup-graphic-one.svg')">
                <img src="../../../../../assets/signup-graphic-one.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('signup-graphic-two.svg')">
                <img src="../../../../../assets/signup-graphic-two.svg" />
              </button>
              <button (click)="changeVisualConfigBgImage('sitting-blocks.svg')">
                <img src="../../../../../assets/sitting-blocks.svg" />
              </button>
            </section>
          </section>
        </div>
      </div>

      <div edit-config-code formGroupName="visualConfig">
        <!-- Code edit form -->
        <code class="code-box" edit-config-code>
          <section>
            <label for="icon" class="text-white">BackgroundColor: </label>
            <input
              class="code-form-control"
              type="text"
              formControlName="BackgroundColor"
            />
          </section>

          <section>
            <label for="icon" class="text-white">BackgroundImage: </label>
            <input
              class="code-form-control"
              type="text"
              formControlName="BackgroundImage"
            />
          </section>

          <section formGroupName="Padding">
            <pre class="text-white">Padding </pre>

            <section>
              <label for="top" class="text-white">top: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="top"
              />
            </section>

            <section>
              <label for="right" class="text-white">right: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="right"
              />
            </section>

            <section>
              <label for="bottom" class="text-white">bottom: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="bottom"
              />
            </section>

            <section>
              <label for="left" class="text-white">left: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="left"
              />
            </section>
          </section>

          <section formGroupName="Margin">
            <pre class="text-white">Margin </pre>

            <section>
              <label for="top" class="text-white">top: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="top"
              />
            </section>

            <section>
              <label for="right" class="text-white">right: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="right"
              />
            </section>

            <section>
              <label for="bottom" class="text-white">bottom: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="bottom"
              />
            </section>

            <section>
              <label for="left" class="text-white">left: </label>
              <input
                class="code-form-control"
                type="text"
                placeholder="set initial value"
                formControlName="left"
              />
            </section>
          </section>
        </code>
      </div>

      <!-- Save component version -->
      <div class="form-submit-wrapper z-50" save-component>
        <section class="form-submit-section">
          <app-save-button (click)="updateVisualConfig()"></app-save-button>
          <app-cancel-button (click)="closeSidebar()"></app-cancel-button>
        </section>
      </div>
    </app-editor-sidebar>
  </app-material-shell>
</main>