<!-- Editable wrapper -->
<main [formGroup]="parent">
  <div formArrayName="finalConfig">
    <div *ngFor="let base of components; let i = index">
      <div [dragula]="COMPONENTS">
        <editable (save)="update(i)" (cancel)="cancel()">
          <section *ngIf="base">
            <div [formGroupName]="i">
              <div>
                <!-- Actual component -->
                <ng-template viewMode>
                  <!-- Non-image component -->
                  <div class="font-semibold">
                    <!-- Headline/Description component -->
                    <section (click)="descriptionEdit()" [ngStyle]="{
                                          color: base.value.TextColor,
                                          'text-align': base.value.TextAlignment,
                                          'font-size': base.value.TextSize + 'px',
                                          'background-color':
                                            base.value.BackgroundColor,
                                          width: base.value.Width + 'px',
                                          'border-radius':
                                            base.value.CornerRadius +
                                            'px',
                                          'padding-top':
                                            base.value.Padding.top + 'px',
                                          'padding-right':
                                            base.value.Padding.right +
                                            'px',
                                          'padding-bottom':
                                            base.value.Padding.bottom +
                                            'px',
                                          'padding-left':
                                            base.value.Padding.left +
                                            'px',
                                          'margin-top':
                                            base.value.Margin.top + 'px',
                                          'margin-right':
                                            base.value.Margin.right +
                                            'px',
                                          'margin-bottom':
                                            base.value.Margin.bottom +
                                            'px',
                                          'margin-left':
                                            base.value.Margin.left + 'px'
                                        }">
                      <span class="material-symbols-rounded">
                        {{base.value.Icon}}
                      </span>
                      {{ base.value.Text }}
                    </section>
                    <!-- Headline/Description component -->

                    <!-- Image component -->
                    <img (click)="imageluu()" class="mx-auto" [src]="imgHost + base.value.Source"
                      [ngStyle]="{width: base.value.ImageWidth + '%'}" alt="Graphic" />
                    <!-- Image component -->

                    <!-- Slimentry component -->
                    <mat-form-field *ngIf="base.value.slimEntry.display" (click)="inputEdit()" class="w-full"
                      [appearance]="base.value.slimEntry.Borderless" [ngStyle]="{
                        
                        'padding-top':
                          base.value.slimEntry.Padding.top + 'px',
                        'padding-right':
                          base.value.slimEntry.Padding.right + 'px',
                        'padding-bottom':
                          base.value.slimEntry.Padding.bottom + 'px',
                        'padding-left':
                          base.value.slimEntry.Padding.left + 'px'
                      }">
                      <mat-label class="text-white">{{
                        base.value.slimEntry.FieldName
                        }}</mat-label>
                      <input [type]="base.value.slimEntry.Type" matInput
                        [placeholder]="base.value.slimEntry.Placeholder" [required]="base.value.slimEntry.IsRequired" />
                    </mat-form-field>
                    <!-- Slimentry component -->
                  </div>
                  <!-- Non-image component -->


                </ng-template>

                <ng-template editMode>
                  <!-- EDITABLE PREVIEW OF COMPONENTS -->

                  <!-- Non-image component -->
                  <div class="font-semibold">
                    <!-- Headline/Description component -->
                    <section (click)="descriptionEdit()" [ngStyle]="{
                                                            color: base.value.TextColor,
                                                            'text-align': base.value.TextAlignment,
                                                            'font-size': base.value.TextSize + 'px',
                                                            'background-color':
                                                              base.value.BackgroundColor,
                                                            width: base.value.Width + 'px',
                                                            'border-radius':
                                                              base.value.CornerRadius +
                                                              'px',
                                                            'padding-top':
                                                              base.value.Padding.top + 'px',
                                                            'padding-right':
                                                              base.value.Padding.right +
                                                              'px',
                                                            'padding-bottom':
                                                              base.value.Padding.bottom +
                                                              'px',
                                                            'padding-left':
                                                              base.value.Padding.left +
                                                              'px',
                                                            'margin-top':
                                                              base.value.Margin.top + 'px',
                                                            'margin-right':
                                                              base.value.Margin.right +
                                                              'px',
                                                            'margin-bottom':
                                                              base.value.Margin.bottom +
                                                              'px',
                                                            'margin-left':
                                                              base.value.Margin.left + 'px'
                                                          }">
                      <span class="material-symbols-rounded">
                        {{base.value.Icon}}
                      </span>
                      {{ base.value.Text }}
                    </section>
                    <!-- Headline/Description component -->

                    <!-- Image component -->
                    <img (click)="imageluu()" class="mx-auto" [src]="imgHost + base.value.Source"
                      [ngStyle]="{width: base.value.ImageWidth + '%'}" alt="Graphic" />
                    <!-- Image component -->

                    <!-- Slimentry component -->
                    <mat-form-field *ngIf="base.value.slimEntry.display" (click)="inputEdit()" class="w-full"
                      [appearance]="base.value.slimEntry.Borderless" [ngStyle]="{
                                          
                                          'padding-top':
                                            base.value.slimEntry.Padding.top + 'px',
                                          'padding-right':
                                            base.value.slimEntry.Padding.right + 'px',
                                          'padding-bottom':
                                            base.value.slimEntry.Padding.bottom + 'px',
                                          'padding-left':
                                            base.value.slimEntry.Padding.left + 'px'
                                        }">
                      <mat-label class="text-white">{{
                        base.value.slimEntry.FieldName
                        }}</mat-label>
                      <input [type]="base.value.slimEntry.Type" matInput
                        [placeholder]="base.value.slimEntry.Placeholder" [required]="base.value.slimEntry.IsRequired" />
                    </mat-form-field>
                    <!-- Slimentry component -->
                  </div>
                  <!-- Non-image component -->

                  <!-- EDITABLE PREVIEW OF COMPONENTS -->

                  <!-- Edit sidebar -->
                  <app-editor-sidebar>
                    <!-- Base edit form -->
                    <section edit-form>

                      <!-- Padding -->
                      <ng-container *ngIf="es.description || es.input">
                        <h2 class="edit-section-title">Padding:</h2>
                        <div formGroupName="Padding">
                          <app-padding-control>
                            <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                              formControlName="top" paddingTop />
                            <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                              formControlName="right" paddingRight />
                            <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                              formControlName="bottom" paddingBottom />
                            <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                              formControlName="left" paddingLeft />
                          </app-padding-control>
                        </div>
                      </ng-container>

                      <!-- Margin -->
                      <h2 class="edit-section-title">Margin:</h2>
                      <div formGroupName="Margin">
                        <app-padding-control>
                          <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                            formControlName="top" paddingTop />
                          <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                            formControlName="right" paddingRight />
                          <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                            formControlName="bottom" paddingBottom />
                          <input class="form-control w-12 overflow-hidden p-1" placeholder="0" type="number"
                            formControlName="left" paddingLeft />
                        </app-padding-control>
                      </div>

                      <!-- SlimEntry-->
                      <ng-container *ngIf="es.input">
                        <section formGroupName="slimEntry">
                          <ng-container *ngIf="es.input">
                            <section class="edit-section edit-section-title">
                              <div class="flex justify-start items-center gap-x-4">
                                <h2 class="font-noir text-xs font-normal">
                                  Is it required?:
                                </h2>
                                <mat-checkbox class="p-1" formControlName="IsRequired"></mat-checkbox>
                              </div>
                            </section>
                            <h2 class="edit-section-title">GroupName:</h2>
                            <input class="form-control p-1" placeholder="Enter initial value" type="text"
                              formControlName="GroupName" />
                            <h2 class="edit-section-title">Set FieldName:</h2>
                            <input class="form-control p-1" placeholder="Enter initial value" type="text"
                              formControlName="FieldName" />
                            <h2 class="edit-section-title">Set Placeholder:</h2>
                            <input class="form-control p-1" placeholder="Enter initial value" type="text"
                              formControlName="Placeholder" />
                            <h2 class="edit-section-title">Set Appearance:</h2>
                            <input class="form-control p-1" placeholder="fill, legacy, standard, outline" type="text"
                              formControlName="Borderless" />
                            <h2 class="edit-section-title">Set Input Type:</h2>
                            <input class="form-control p-1" placeholder="date, email, password, number, etc..."
                              type="text" formControlName="Type" />
                          </ng-container>
                        </section>
                      </ng-container>

                      <!-- H1 Text -->
                      <section *ngIf="es.description">
                        <h2 class="edit-section-title">Description:</h2>
                        <textarea class="textarea-control" placeholder="Set initial value" type="text"
                          formControlName="Text" rows="3" cols="33"></textarea>
                      </section>

                      <!-- Text Alignment -->
                      <section *ngIf="es.description">
                        <h2 class="edit-section-title">Align & Size Text:</h2>
                        <section class="flex justify-between items-center">
                          <input class="textarea-control w-20 p-2 mr-2" [placeholder]="base.value.TextSize"
                            type="number" formControlName="TextSize" />
                          <mat-icon class="text-white" (click)="setTextAlignment('start', i)">format_align_left
                          </mat-icon>
                          <mat-icon class="text-white" (click)="setTextAlignment('center', i)">format_align_center
                          </mat-icon>
                          <mat-icon class="text-white" (click)="setTextAlignment('end', i)">format_align_right
                          </mat-icon>
                        </section>
                      </section>


                      <!-- Width + Height -->
                      <section *ngIf="es.description" class="edit-section edit-section-title">
                        <div class="grid grid-cols-2 gap-3">
                          <div class="flex gap-x-2 justify-start items-center">
                            <label class="text-white text-noir text-xs font-normal" for="right">
                              Width:
                            </label>
                            <input class="form-control w-12 overflow-hidden p-1" placeholder="Set initial value"
                              type="text" formControlName="Width" />
                          </div>
                          <div class="flex gap-x-2 justify-start items-center">
                            <label class="text-white text-noir text-xs font-normal" for="right">
                              Height:
                            </label>
                            <input class="form-control w-12 overflow-hidden p-1 hover:cursor-not-allowed"
                              placeholder="auto" type="text" formControlName="Height">
                          </div>
                        </div>
                      </section>

                      <!-- Border Radius -->
                      <section *ngIf="es.description" class="edit-section">
                        <h2 class="edit-section-title">Border Radius:</h2>
                        <div class="flex justify-between items-center">
                          <button role="tab" class="radius-edit-button" (click)="changeBorderRadius('9999', i)">
                            <div class="full"></div>
                            <div class="text-xs font-normal font-noir">Full</div>
                          </button>
                          <button role="tab" class="radius-edit-button" (click)="changeBorderRadius('8', i)">
                            <div class="large"></div>
                            <div class="text-xs font-normal font-noir">Large</div>
                          </button>
                          <button role="tab" class="radius-edit-button" (click)="changeBorderRadius('2', i)">
                            <div class="small"></div>
                            <div class="text-xs font-normal font-noir">Small</div>
                          </button>
                        </div>
                      </section>

                      <!-- Left icon section -->
                      <section *ngIf="es.description" class="edit-section">
                        <h2 class="edit-section-title">
                          Set Button Icon (Material Icons):
                        </h2>
                        <section class="flex flex-start justify-between items-center gap-3 flex-wrap">
                          <button class="mat-icon-edit-view" (click)="changeIcon('', i)">
                            None
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('keyboard_arrow_right', i)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('keyboard_arrow_left', i)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('keyboard_arrow_down', i)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('keyboard_arrow_up', i)">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('search', i)">
                            <mat-icon>search</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('home', i)">
                            <mat-icon>home</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('account_circle', i)">
                            <mat-icon>account_circle</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('settings', i)">
                            <mat-icon>settings</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('done', i)">
                            <mat-icon>done</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('info', i)">
                            <mat-icon>info</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('delete', i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('check_circle', i)">
                            <mat-icon>check_circle</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('shopping_cart', i)">
                            <mat-icon>shopping_cart</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('grade', i)">
                            <span class="material-symbols-rounded">
                              grade
                            </span>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('logout', i)">
                            <mat-icon>logout</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('login', i)">
                            <mat-icon>login</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('bolt', i)">
                            <mat-icon>bolt</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('grade', i)">
                            <mat-icon>grade</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('autorenew', i)">
                            <mat-icon>autorenew</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('add_box', i)">
                            <mat-icon>add_box</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('android', i)">
                            <mat-icon>android</mat-icon>
                          </button>
                          <button class="mat-icon-edit-view" (click)="changeIcon('apple', i)">
                            <mat-icon>apple</mat-icon>
                          </button>
                        </section>
                      </section>

                      <!-- Graphic -->
                      <section class="edit-section" *ngIf="es.image">
                        <h2 class="edit-section-title">Graphic:</h2>
                        <section class="flex flext-start justify-between items-center gap-3 flex-wrap image-gallery">
                          <button (click)="changeGraphic('girl-laying.svg', i)">
                            <img src="../../../../../assets/girl-laying.svg" />
                          </button>
                          <button (click)="changeGraphic('girl-sitting.svg', i)">
                            <img src="../../../../../assets/girl-sitting.svg" />
                          </button>
                          <button (click)="changeGraphic('question.svg', i)">
                            <img src="../../../../../assets/question.svg" />
                          </button>
                          <button (click)="changeGraphic('refer-a-friend.svg', i)">
                            <img src="../../../../../assets/refer-a-friend.svg" />
                          </button>
                          <button (click)="changeGraphic('signup-graphic-one.svg', i)">
                            <img src="../../../../../assets/signup-graphic-one.svg" />
                          </button>
                          <button (click)="changeGraphic('signup-graphic-two.svg', i)">
                            <img src="../../../../../assets/signup-graphic-two.svg" />
                          </button>
                          <button (click)="changeGraphic('sitting-blocks.svg', i)">
                            <img src="../../../../../assets/sitting-blocks.svg" />
                          </button>
                        </section>
                        <h2 class="edit-section-title">Image Width:</h2>
                        <div class="flex gap-x-2 justify-start items-center">
                          <label class="text-white text-noir text-xs font-normal" for="right">
                            Width:
                          </label>
                          <input class="form-control w-12 overflow-hidden p-1" placeholder="Set initial value"
                            type="text" formControlName="ImageWidth" />
                        </div>
                      </section>



                      <!-- Text Color -->
                      <section *ngIf="es.description || es.input">
                        <h2 class="edit-section-title">Text Color:</h2>
                        <section
                          class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden">
                          <div *ngFor="let color of colorPalettes">
                            <button class="color-button" [class]="[color.class, color.textColor]"
                              (click)="setTextColor(color.color, i)" [tippy]="color.name"></button>
                          </div>
                        </section>
                      </section>

                      <!-- Background Color -->
                      <ng-container *ngIf="es.description">
                        <h2 class="edit-section-title">Background Color:</h2>
                        <section
                          class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden">
                          <div *ngFor="let color of colorPalettes">
                            <button class="color-button" [class]="[color.class, color.textColor]"
                              (click)="setBackgroundColor(color.color, i)" [tippy]="color.name"></button>
                          </div>
                        </section>
                      </ng-container>




                    </section>
                    <!-- Code edit form -->
                    <section edit-config-code>
                      <h2 class="edit-section-title mt-4">
                        Edit configuration code directly:
                      </h2>
                      <code class="code-box">
                        <section>
                          <label for="icon">Text: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="Text"
                          />
                        </section>
                        <section>
                          <label for="icon">TextColor: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="TextColor"
                          />
                        </section>
                        <section formGroupName="Padding">
                          <pre>Padding: </pre>
                          <section>
                            <label for="top">top: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="top"
                            />
                          </section>
                          <section>
                            <label for="right">right: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="right"
                            />
                          </section>
                          <section>
                            <label for="bottom">bottom: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="bottom"
                            />
                          </section>
                          <section>
                            <label for="left">left: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="left"
                            />
                          </section>
                        </section>
                        <section>
                          <label for="icon">BackgroundColor: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="BackgroundColor"
                          />
                        </section>
                      </code>
                    </section>
                    <!-- Save component version -->
                    <div class="form-submit-wrapper z-50" save-component>
                      <section class="form-submit-section">
                        <app-save-button (click)="saveComponent(i)"></app-save-button>
                        <app-cancel-button editableOnCancel></app-cancel-button>
                      </section>
                    </div>
                  </app-editor-sidebar>
                </ng-template>
              </div>
            </div>
          </section>
        </editable>
      </div>
    </div>
  </div>
</main>