<main [formGroup]="parent">
  <!-- Version -->
  <section class="edit-section">
    <h2 class="edit-section-title">Set Component Version:</h2>
    <input
      class="form-control"
      placeholder="Set component version"
      type="text"
      formControlName="Version"
    />
  </section>

  <!-- H1 Text -->
  <section class="edit-section">
    <h2 class="edit-section-title">Set Headline:</h2>
    <textarea
      class="textarea-control"
      placeholder="Set initial value"
      type="text"
      formControlName="Text"
      [value]="text"
      rows="3"
      cols="33"
    ></textarea>
  </section>

  <!-- Text Color -->
  <section class="edit-section">
    <h2 class="edit-section-title">Text Color:</h2>
    <div
      class="grid grid-cols-4 justify-between items-center gap-x-8 gap-y-4 max-h-40 overflow-y-auto overflow-x-hidden"
    >
      <button
        class="color-button bg-white border border-gray-400 text-black"
        (click)="setTextColor('TextColor', white)"
      >
        #ffffff
      </button>

      <button
        class="color-button bg-ct-light-primary text-purpleblack"
        (click)="setTextColor('TextColor', '#fafafa')"
      >
        #fafafa
      </button>

      <button
        class="color-button bg-ct-light-secondary text-purpleblack"
        (click)="setTextColor('TextColor', '#e5e5e5')"
      >
        #e5e5e5
      </button>

      <button
        class="color-button bg-ct-light-accent-one text-purpleblack"
        (click)="setTextColor('TextColor', '#cecece')"
      >
        #cecece
      </button>

      <button
        class="color-button bg-ct-light-accent-two text-purpleblack"
        (click)="setTextColor('TextColor', '#dbdade')"
      >
        #dbdade
      </button>

      <button
        class="color-button bg-ct-light-icon text-white"
        (click)="setTextColor('TextColor', '#1a152e')"
      >
        #1a152e
      </button>

      <button
        class="color-button bg-ct-dark-blue text-white"
        (click)="setTextColor('TextColor', '#1e6fdb')"
      >
        #1e6fdb
      </button>

      <button
        class="color-button bg-ct-blue text-white"
        (click)="setTextColor('TextColor', '#3580f0')"
      >
        #3580f0
      </button>

      <button
        class="color-button bg-ct-light-blue text-white"
        (click)="setTextColor('TextColor', '#62b4ff')"
      >
        #62b4ff
      </button>

      <button
        class="color-button bg-ct-dark-purple text-white"
        (click)="setTextColor('TextColor', '#654cff')"
      >
        #654cff
      </button>

      <button
        class="color-button bg-ct-yellow text-black"
        (click)="setTextColor('TextColor', '#feec4b')"
      >
        #feec4b
      </button>

      <button
        class="color-button bg-ct-emerald text-white"
        (click)="setTextColor('TextColor', '#19a9a5')"
      >
        #19a9a5
      </button>
    </div>
  </section>

  <!-- Padding -->
  <section class="edit-section">
    <h2 class="edit-section-title">Set Padding:</h2>
    <div class="grid grid-cols-4 gap-3" formGroupName="Padding">
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="top"
        >
          T:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding top value"
          type="text"
          formControlName="top"
          [value]="paddingTop"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="right"
        >
          R:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding right value"
          type="text"
          formControlName="right"
          [value]="paddingRight"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="bottom"
        >
          B:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding bottom value"
          type="text"
          formControlName="bottom"
          [value]="paddingBottom"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="left"
        >
          L:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding left value"
          type="number"
          formControlName="left"
        />
      </div>
    </div>
  </section>

  <!-- Background Color -->
  <section class="edit-section">
    <h2 class="edit-section-title">Background Color:</h2>
    <div class="flex justify-between items-center gap-x-10">
      <button
        class="color-button bg-transparent border border-gray-400 text-gray-400"
        (click)="setBgColor('BackgroundColor', '')"
      >
        None
      </button>
      <button
        class="color-button primary-blue"
        (click)="setBgColor('BackgroundColor', '#3589F9')"
      >
        #3589F9
      </button>
    </div>
  </section>
</main>
