<section
  editableGroup
  (save)="updateGroupedEdition()"
  (cancel)="cancelGroupedEdition()"
>
<div class="true-component">
	<!-- carousel -->
		<form [formGroup]="groupedForm">
			<main *ngFor="let slide of slides; let i = index">
				<app-edit-button
        class="absolute top-2 right-1"
        (click)="toggleDisplay()">
      </app-edit-button>

				<div class="slide" *ngIf="i === currentSlide" >
					
					<section  dragula="CAROUSEL">
						<img
							[src]="slide.src"
							class="w-full h-96"
						/>
					</section>

					<section  dragula="CAROUSEL">
						<h2 class="text-white font-bold text-xl my-4">{{slide.headline}}</h2>
					</section>

					<section  dragula="CAROUSEL">
						<p class="text-white text-center font-bold text-sm mb-4 mx-4">{{slide.description}}</p>
					</section>
					
					<!-- controls -->
					<section>
						<div class="flex justify-between items-center px-5 text-white text-xs font-medium-light">
								<button class="hover:text-ctlight" (click)="onPreviousClick()">
									PREV
								</button>
								<div class="flex justify-center items-center gap-x-2">
									<div [ngClass]="{'active-dot': active, 'inactive-dot': inactive}"></div>
									<div [ngClass]="{'active-dot': active, 'inactive-dot': inactive}"></div>
									<div [ngClass]="{'active-dot': active, 'inactive-dot': inactive}"></div>
								</div>
								<button class="hover:text-ctlight" (click)="onNextClick()">
									NEXT
								</button>
							</div>
					</section>
				</div>
			</main>

			
		</form>
	<!-- end carousel -->
</div>



<app-edit-sidebar *ngIf="sbs.editCarousel">
      <app-carousel-form
        [parent]="groupedForm"
				(imageChanged)="changeSlideOneImage($event)"
				(slideTwoImageChanged)="changeSlideTwoImage($event)"
				(slideThreeImageChanged)="changeSlideThreeImage($event)"
      ></app-carousel-form>


			
      <!-- JSON Output -->
	<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="edit-section-title border-none">
        JSON
        </mat-panel-title>
        <mat-panel-description>
          View Configuration
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre class="bg-gray-900 text-white text-xs p-4 rounded-md shadow-inner overflow-x-hidden overflow-y-auto whitespace-pre-wrap">{{
        this.slides | json
      }}</pre>
  </mat-expansion-panel>
</app-edit-sidebar>
</section>

	<section class="preview-component">Carousel</section>
