<!-- Editable wrapper -->
<section class="w-full true-component">
  <!-- Edit button -->
  <app-edit-button (click)="edit()"></app-edit-button>

  <!-- Actual component -->
  <div class="px-4">
    <a
      [href]="link.link"
      class="my-2 text-sm font-normal flex"
      [class]="[link.textAlign]"
    >
      {{ link.string }}
    </a>
  </div>

  <!-- Edit form -->
  <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" *ngIf="ess.linkEdit">
    <app-editor-sidebar>
      <app-link-form
        [parent]="linkForm"
        (textAlignChanged)="changeTextAlign($event)"
        edit-form
      ></app-link-form>

      <app-link-code-form
        [parent]="linkForm"
        edit-config-code
      ></app-link-code-form>
    </app-editor-sidebar>
  </form>
</section>

<!-- Preview -->
<comp-preview>{{ preview }}</comp-preview>
<!-- In flight -->
<comp-dragging></comp-dragging>
