<h2 class="edit-section-title mt-4">Edit configuration code directly:</h2>
<form [formGroup]="parent">
  <code class="code-box">
    <section>
      <label for="icon">Version: </label>
      <input
        class="code-form-control"
        type="text"
        placeholder="set initial value"
        formControlName="Version"
      />
    </section>

    <hr size="1" />

    <section formGroupName="SectionOne">
      <pre>SectionOne: </pre>
      <section>
        <label for="icon">Source: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="Source"
        />
      </section>

      <div formGroupName="h1">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>

      <div formGroupName="h2">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>
    </section>

    <hr size="1" />

    <section formGroupName="SectionTwo">
      <pre>SectionTwo: </pre>
      <section>
        <label for="icon">Source: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="Source"
        />
      </section>

      <div formGroupName="h1">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>

      <div formGroupName="h2">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>
    </section>

    <hr size="1" />

    <section formGroupName="SectionThree">
      <pre>SectionThree: </pre>
      <section>
        <label for="icon">Source: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="Source"
        />
      </section>

      <div formGroupName="h1">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>

      <div formGroupName="h2">
        <section>
          <label for="icon">Version: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Version"
          />
        </section>

        <section>
          <label for="icon">Text: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="Text"
          />
        </section>

        <section>
          <label for="icon">TextColor: </label>
          <input
            class="code-form-control"
            type="text"
            placeholder="set initial value"
            formControlName="TextColor"
          />
        </section>
      </div>
    </section>

    <hr size="1" />

    <section formGroupName="Nav">
      <pre>Footer Nav</pre>

      <section>
        <label for="icon">Version: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="Version"
        />
      </section>

      <section>
        <label for="icon">LeftNavInitial: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="LeftNav"
        />
      </section>

      <section>
        <label for="icon">CommandParameter: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="LeftNavInitialCommand"
        />
      </section>

      <section>
        <label for="icon">LeftNavNormal: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="LeftNavAlt"
        />
      </section>

      <section>
        <label for="icon">RightNavNormal: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="RightNav"
        />
      </section>
    </section>
  </code>
</form>
