<main [formGroup]="parent">
  <section class="edit-section">
    <h2 class="edit-section-title">Set Version:</h2>
    <input
      class="form-control"
      placeholder="Set initial value"
      type="text"
      formControlName="Version"
    />
  </section>

  <div class="grid grid-cols-2 gap-x-2">
    <section class="edit-section">
      <h2 class="edit-section-title">Is it required?:</h2>
      <mat-checkbox
        class="form-control font-quicksand text-sm font-semibold"
        formControlName="IsRequired"
        >Make Required</mat-checkbox
      >
    </section>
    <section class="edit-section">
      <h2 class="edit-section-title">Is it a password field?:</h2>
      <mat-checkbox
        class="form-control font-quicksand text-sm font-semibold"
        formControlName="IsPassword"
        >Make Password</mat-checkbox
      >
    </section>
  </div>

  <section class="edit-section">
    <h2 class="edit-section-title">Set GroupName:</h2>
    <input
      class="form-control"
      placeholder="Enter initial value"
      type="text"
      formControlName="GroupName"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set FieldName:</h2>
    <input
      class="form-control"
      placeholder="Enter initial value"
      type="text"
      formControlName="FieldName"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Placeholder:</h2>
    <input
      class="form-control"
      placeholder="Enter initial value"
      type="text"
      formControlName="Placeholder"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Appearance:</h2>
    <input
      class="form-control"
      placeholder="fill, legacy, standard, outline"
      type="text"
      formControlName="Borderless"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Input Type:</h2>
    <input
      class="form-control"
      placeholder="date, email, password, number, etc..."
      type="text"
      formControlName="Type"
    />
  </section>

  <!-- Padding -->
  <section class="edit-section">
    <h2 class="edit-section-title">Set Padding:</h2>
    <div class="grid grid-cols-4 gap-3" formGroupName="Padding">
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="top"
        >
          T:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding top value"
          type="text"
          formControlName="top"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="right"
        >
          R:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding right value"
          type="text"
          formControlName="right"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="bottom"
        >
          B:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding bottom value"
          type="text"
          formControlName="bottom"
        />
      </div>
      <div class="flex gap-x-2 justify-start items-center">
        <label
          class="text-ctdark text-quicksand text-xs font-semibold"
          for="left"
        >
          L:
        </label>
        <input
          class="form-control w-full overflow-hidden"
          placeholder="Set padding left value"
          type="number"
          formControlName="left"
        />
      </div>
    </div>
  </section>
</main>
