<main [formGroup]="parent">
  <section formGroupName="selector">
    <select formControlName="product_id">
      <option value="">Select Stock</option>
      <option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </option>
    </select>

    <input
      formControlName="quantity"
      type="number"
      step="10"
      min="10"
      max="100"
    />

    <app-stock-counter [step]="10" [min]="10" [max]="1000"></app-stock-counter>

    <button (click)="onAdd()" type="button">Add Stock</button>
  </section>
</main>
