<ng-content select="[crowdtapComponents]"></ng-content>
<ng-content select="[loadConfigurations]"></ng-content>
<mat-sidenav-container class="main-content-container dark">

  <!-- Main material sidenav -->
  <mat-sidenav class="main-sidenav" opened="true" mode="side" #snav>
    <div class="bg-mat-toolbar h-14 pt-3 pl-4">
      <div class="flex justify-start items-center gap-x-6">
        <span (click)="setiPhone11()" class="viewport-icon">
          <button class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none">
            <mat-icon class="text-lg">apple</mat-icon>
          </button>
        </span>
        <span (click)="setAndroid()" class="viewport-icon">
          <button class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none">
            <mat-icon class="text-lg">android</mat-icon>
          </button>
        </span>
        <span (click)="desktopViewPort()" class="viewport-icon">
          <button class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none">
            <mat-icon class="text-lg">computer</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <mat-nav-list>
      <div class="py-5"></div>

      <button class="element-button">
        <div class="flex justify-start items-center gap-x-2" (click)="edit()">
          <div class="w-10 h-10 rounded-md bg-mat-toolbar flex justify-center items-center">
            <img class="w-5" src="../../../assets/crowdtap-logo-icon.svg" />
          </div>
          Crowdtap Library
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

      <button class="element-button">
        <div class="flex justify-start items-center gap-x-2">
          <div class="w-10 h-10 rounded-md bg-mat-toolbar flex justify-center items-center">
            <img class="w-5" src="../../../assets/suzy-s.svg" />
          </div>
          Suzy Library
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

      <ng-content select="[visualConfigButton]"></ng-content>

      <button class="element-button border-t border-t-gray-700 pt-4">
        <div class="flex justify-start items-center gap-x-2">
          <div class="w-10 h-10 rounded-md bg-mat-toolbar flex justify-center items-center">
            <mat-icon>info</mat-icon>
          </div>
          Read docs
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main material content shell -->
  <mat-sidenav-content>
    <mat-toolbar>

      <section>&nbsp;</section>

      <!-- Viewport choices -->
      <section>
        <ng-content select="[nameConfig]"></ng-content>
      </section>


      <!-- Visual Config + Submit Button -->
      <section>
        <ng-content select="[visualConfig]"></ng-content>
      </section>
    </mat-toolbar>

    <ng-content select="[visualConfigEdit]"></ng-content>
    <ng-content select="[phoneScreen]"></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>