<mat-sidenav-container class="main-content-container dark">
  <!-- Main material sidenav -->
  <mat-sidenav class="main-sidenav" opened="true" mode="side" #snav>
    <mat-nav-list class="preview-container">
      <div class="font-noir uppercase font-bold pl-2 pt-2">STENCIL.UI</div>
      <div class="py-5"></div>
      <ng-content select="[components-menu]"></ng-content>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!-- Menu icon + logo -->
      <div>
        <button
          mat-icon-button
          aria-label="Menu icon"
          (click)="snav.toggle()"
          tippy="Open Menu"
        >
          <mat-icon>drag_handle</mat-icon>
        </button>
      </div>

      <!-- Viewport choices -->
      <div class="flex justify-center items-center gap-x-12">
        <span (click)="setiPhone11()" class="viewport-icon">
          <button
            class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none"
            tippy="iPhone Viewport"
          >
            <mat-icon class="text-lg">apple</mat-icon>
          </button>
        </span>
        <span (click)="setAndroid()" class="viewport-icon">
          <button
            class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none"
            tippy="Android Viewport"
          >
            <mat-icon class="text-lg">android</mat-icon>
          </button>
        </span>
        <span (click)="desktopViewPort()" class="viewport-icon">
          <button
            class="py-1 px-2 bg-gray-700 text-ct-dark text-xs font-noir rounded-lg shadow focus:outline-none"
            tippy="Desktop Viewport"
          >
            <mat-icon class="text-lg">computer</mat-icon>
          </button>
        </span>
      </div>

      <!-- Visual Config + Submit Button -->
      <section>
        <ng-content select="[visualConfig]"></ng-content>
      </section>
    </mat-toolbar>
    <!-- ng-conent for phone screen and visualConfig edit sidebars (found in editor.component.html)-->

    <ng-content select="[visualConfigEdit]"></ng-content>
    <ng-content select="[phoneScreen]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
