<main [formGroup]="parent">
  <section class="edit-section">
    <h2 class="edit-section-title">Set Component Version:</h2>
    <input
      class="form-control"
      placeholder="=Component version"
      type="text"
      formControlName="version"
    />
  </section>
  <section class="edit-section">
    <h2 class="edit-section-title">Set text string:</h2>
    <input
      class="form-control"
      placeholder="=Enter Text String"
      type="text"
      formControlName="string"
    />
  </section>
</main>
