<main [formGroup]="parent">
  <section class="edit-section">
    <h2 class="edit-section-title">Set Component Version:</h2>
    <input
      class="form-control"
      placeholder="Component version"
      type="text"
      formControlName="version"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Label:</h2>
    <input
      class="form-control"
      placeholder="Label Text"
      type="text"
      formControlName="label"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Placeholder:</h2>
    <input
      class="form-control"
      placeholder="Placeholder Text"
      type="text"
      formControlName="placeholder"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Appearance:</h2>
    <input
      class="form-control"
      placeholder="fill, legacy, standard, outline"
      type="text"
      formControlName="appearance"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Second Label:</h2>
    <input
      class="form-control"
      placeholder="Label Text"
      type="text"
      formControlName="passwordLabel"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Second Placeholder:</h2>
    <input
      class="form-control"
      placeholder="Placeholder Text"
      type="text"
      formControlName="passwordPlaceholder"
    />
  </section>

  <section class="edit-section">
    <h2 class="edit-section-title">Set Second Appearance:</h2>
    <input
      class="form-control"
      placeholder="fill, legacy, standard, outline"
      type="text"
      formControlName="passwordAppearance"
    />
  </section>
</main>
