<!-- Editable wrapper -->
<section class="w-full true-component">
  <!-- Edit button -->
  <app-edit-button (click)="edit()"></app-edit-button>

  <!-- Actual component -->
  <mat-form-field
    class="w-full px-8 text-white"
    [appearance]="input.appearance"
  >
    <mat-label class="text-white">{{ input.label }}</mat-label>
    <input matInput [placeholder]="input.placeholder" />
  </mat-form-field>

  <mat-form-field
    class="w-full px-8 text-white"
    [appearance]="password.appearance"
  >
    <mat-label class="text-white">{{ password.label }}</mat-label>
    <input matInput [placeholder]="password.placeholder" />
  </mat-form-field>

  <!-- Edit form -->
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" *ngIf="ess.inputEdit">
    <app-editor-sidebar>
      <app-input-form [parent]="inputForm"></app-input-form>
      <app-input-code-form [parent]="inputForm"></app-input-code-form>
    </app-editor-sidebar>
  </form>
</section>

<!-- Preview -->
<comp-preview>{{ preview }}</comp-preview>
<!-- In flight -->
<comp-dragging></comp-dragging>
