<!-- Editable wrapper -->
<section class="w-full true-component">
  <!-- Edit button -->
  <div class="flex justify-start items-center">
    <app-edit-button (click)="edit()"></app-edit-button>
    <app-copy-button (click)="copy()"></app-copy-button>
    <app-version-button (click)="loadVersion(2)"></app-version-button>
  </div>

  <!-- Actual component -->
  <section [ngStyle]="appHeaderStyleObject()">
    <div [ngStyle]="horizontalOptionsOne()">
      <mat-icon>{{ appHeader.leftIcon }}</mat-icon>
    </div>

    <div *ngIf="TriColumnView">
      <img
        class="w-full h-8"
        *ngIf="imgHost"
        [src]="imgHost + appHeader.logo"
        alt="Logo"
      />
    </div>

    <div [ngStyle]="horizontalOptionsTwo()">
      <mat-icon>{{ appHeader.rightIcon }}</mat-icon>
    </div>
  </section>

  <!-- Edit form -->
  <form
    [formGroup]="appHeaderForm"
    (ngSubmit)="onSubmit()"
    *ngIf="ess.showHeader"
  >
    <app-editor-sidebar class="sidebar">
      <app-header-form
        [parent]="appHeaderForm"
        (iconChanged)="changeIcon($event)"
        (rightIconChanged)="changeRightIcon($event)"
        (logoChanged)="changeLogo($event)"
        edit-form
      ></app-header-form>

      <app-header-code-form [parent]="appHeaderForm" edit-config-code>
      </app-header-code-form>
    </app-editor-sidebar>
  </form>
</section>

<!-- Preview -->
<comp-preview>{{ preview }}</comp-preview>
<!-- In flight -->
<comp-dragging></comp-dragging>
