.viewport-canvas {
  @apply transition-all ease-out duration-150 flex items-stretch w-full mx-auto justify-center;
  .viewport-inner-canvas {
    @apply container max-w-full mb-4 grid grid-cols-1 mx-auto shadow-md dark:bg-none bg-none rounded-lg z-0 overflow-hidden text-white bg-no-repeat bg-contain border border-dashed border-gray-200;
  }
}
.basic-layout {
  grid-template-rows: 10% 1fr 10%;
}
.no-footer {
  grid-template-rows: 10% 1fr;
}
.no-header {
  grid-template-rows: 1fr 10%;
}
.vertical-layout {
  grid-template-rows: 1fr;
}
.survey-layout {
  grid-template-rows: 41% 1fr;
}

.viewport-icon {
  @apply w-8 h-8 flex justify-center items-center transition ease-in-out duration-100 hover:cursor-pointer hover:scale-110;
}

.preview-container {
  .true-component {
    display: none;
  }
  .preview-component {
    @apply block bg-gray-800 bg-opacity-30 rounded-md px-2 py-3 uppercase font-quicksand leading-3 tracking-wide my-2;
    .preview-placeholder {
      @apply w-auto h-full p-2 border-gray-400 border-2 border-dashed rounded-full text-center text-xs leading-3 text-gray-400 font-bold uppercase transition-all ease-in-out;
      &:hover {
        @apply border-ctlight text-ctlight bg-opacity-60 backdrop-filter backdrop-blur-lg;
        cursor: move;
      }
    }
  }
  .dragging-component {
    display: none;
    img {
      display: none;
    }
  }
}

.drop-container {
  .edit-button {
    @apply hidden;
  }
  &:hover {
    .edit-button {
      @apply flex flex-row justify-end items-center gap-x-2 cursor-pointer;
    }
  }
  .true-component,
  .controls {
    visibility: visible;
    @apply transition duration-75;

    &:hover {
      @apply bg-white bg-opacity-30 shadow-lg;
    }
  }
  .preview-component {
    display: none;
  }
  .dragging-component {
    display: none;
  }
}

.edit-section {
  @apply my-5;
}

.edit-section-title {
  @apply text-xs font-normal font-noir border-t pt-2 border-gray-700 mb-2;
}

.icon-selection {
  @apply text-black hover:cursor-pointer transition-all duration-75 hover:scale-105;
}

.color-button {
  @apply transition-all ease-in-out hover:scale-110 flex items-center justify-center w-7 h-7 hover:w-full overflow-hidden border-none shadow-md p-4 my-2 text-xs text-gray-600 font-normal font-noir cursor-pointer;
}

.primary-blue {
  @apply bg-primaryblue hover:shadow-lg;
}

.secondary-dark {
  @apply bg-secondarydark hover:shadow-lg;
}

.purple-black {
  @apply bg-purpleblack hover:shadow-lg;
}

.lighter-blue {
  @apply bg-lighterblue hover:shadow-lg;
}

.grouped-form-submit-button {
  @apply py-2 px-3 mb-1 bg-ct-blue text-white transition ease-in-out duration-100 hover:cursor-pointer hover:scale-105 text-xs font-noir rounded-md shadow focus:outline-none;
}

.form-submit-wrapper {
  @apply fixed bottom-0 left-0 w-full bg-gray-800 shadow-md rounded-br-lg rounded-bl-lg;
}

.form-submit-section {
  @apply flex justify-around  py-4 px-4;
}

.radius-edit-button {
  @apply transition-all ease-in-out hover:scale-105 flex justify-start items-center gap-x-1 text-sm font-light hover:text-ctlight;
  .full {
    @apply w-6 h-3 mr-2 border-2 border-gray-400 hover:border-ctlight rounded-full;
  }
  .large {
    @apply w-6 h-3 mr-2 border-2 border-gray-400 hover:border-ctlight rounded;
  }
  .small {
    @apply w-6 h-3 mr-2 border-2 border-gray-400 hover:border-ctlight rounded-sm;
  }
}

.white-edit-elements {
  @apply bg-ctdark px-3 py-1 rounded-full;
  img {
    @apply w-20;
  }
}

.image-gallery {
  img {
    @apply w-14 h-14;
  }
}

.vertical-options-item {
  @apply font-quicksand text-base flex justify-center items-center gap-x-1;
}

.element-button {
  @apply text-gray-300 font-noir font-normal text-sm w-full flex justify-between items-center mb-4 px-2;
  &:hover {
    @apply text-ct-blue;
  }
  .element-icon {
    @apply w-6 h-6 m-0 p-0;
    &:hover {
      @apply text-ct-dark-purple;
    }
  }
}
