.mat-expansion-panel {
  box-shadow: none !important;
  .mat-expansion-panel-header {
    padding: 0px 8px !important;
  }
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}