.main-content-container {
  @apply w-full h-screen;
}

.main-sidenav {
  @apply w-64 rounded-2xl;
}

.mat-drawer-side {
  @apply border-none shadow-lg;
}

.mat-toolbar-single-row {
  @apply max-h-10 bg-gradient-to-r from-ctdark to-ctlight bg-opacity-80 shadow-sm backdrop-filter backdrop-blur-lg ease-in-out;
  .mat-icon {
    @apply text-white;
  }
}

.mat-expansion-panel {
  box-shadow: none !important;
  .mat-expansion-panel-header {
    padding: 0px 8px !important;
  }
}

.mat-accordian {
  border-radius: none !important;
}

.mat-icon-edit-view {
  @apply text-gray-700 text-sm font-light hover:text-ctlight;
}

.mat-input-element {
  caret-color: white !important;
  color: white !important;
}

.mat-form-field-label {
  color: white !important;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-ripple {
  background-color: white !important;
}

.mat-form-field-label-wrapper {
  color: white !important;
}

.mat-form-field {
  @apply font-quicksand;
}

.mat-expansion-panel-body {
  padding: 0 14px 16px !important;
}
