.main-content-container {
  @apply w-full h-screen;
}

.mat-drawer-container {
  @apply bg-gradient-to-b from-ctdark to-gray-900;
}

.main-sidenav {
  @apply w-60;
}

.mat-drawer {
  @apply bg-gray-800 text-white font-noir;
}

.mat-drawer-side {
  @apply border-none shadow-lg;
}

.mat-toolbar-single-row {
  @apply max-h-14 flex justify-between items-center bg-gray-900 shadow-lg text-gray-300;
  span {
    @apply text-base;
  }
  .mat-icon {
    @apply text-white;
  }
}

.mat-tab-label-content {
  @apply text-white text-xs;
}

.mat-tab-header-pagination-chevron {
  @apply border-ct-blue;
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  @apply border-transparent;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  @apply bg-ct-blue;
}

.mat-expansion-panel {
  @apply bg-gray-800 text-white font-noir text-base font-normal;
  box-shadow: none !important;
  .mat-expansion-panel-header {
    padding: 0px 8px !important;
  }
}

.mat-accordian {
  border-radius: none !important;
}

.mat-icon-edit-view {
  @apply text-gray-100 text-sm font-light hover:text-ctlight;
}

.mat-input-element {
  caret-color: white !important;
  color: white !important;
}

// Replaces mat-input placeholder color
.mat-input-element::placeholder {
  color: white !important;
}

.mat-form-field-label {
  color: white !important;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-ripple {
  background-color: white !important;
}

.mat-form-field-label-wrapper {
  color: white !important;
}

.mat-form-field {
  @apply font-quicksand;
}

.mat-expansion-panel-body {
  padding: 0 14px 16px !important;
}
