:root {
  // Crowdtap color palette
  --ct-dark-blue: #1e6fdb;
  --ct-blue: #3580f0;
  --ct-light-blue: #62b4ff;
  --ct-dark-purple: #654cff;
  --ct-purple: #ac6dfd;
  --ct-lavender: #dac4ff;
  --ct-yellow: #feec4b;
  --ct-light-orange: #ffbd2e;
  --ct-orange: #ff8840;
  --ct-mint: #8fd2c6;
  --ct-emerald: #19a9a5;
  --ct-green: #68c97f;
  --ct-pink: #ff7092;
  --ct-peach: #ffa4a4;
  --ct-red: #ff5f57;

  // Dark mode
  --ct-dark-primary: #24232b;
  --ct-dark-secondary: #141414;
  --ct-dark-accent-1: #444444;
  --ct-dark-accent-2: #3a3940;
  --ct-dark-icon: #ffffff;

  // Light mode
  --ct-light-primary: #fafafa;
  --ct-light-secondary: #e5e5e5;
  --ct-light-accent-1: #cecece;
  --ct-light-accent-2: #dbdade;
  --ct-light-icon: #1a152e;
}
