<section *ngIf="headerTitleBar.value.headerTitleBar.display" [ngStyle]="{
display: 'grid',
height: headerTitleBar.value.Height + 'px',
'align-items': 'center',
'grid-template-columns': 'repeat(3, minmax(0, 1fr))',
'background-color': headerTitleBar.value.headerTitleBar.BackgroundColor,
'color': headerTitleBar.value.headerTitleBar.TextColor,
'padding-top': headerTitleBar.value.Padding.top + 'px',
'padding-right': headerTitleBar.value.Padding.right + 'px',
'padding-bottom': headerTitleBar.value.Padding.bottom + 'px',
'padding-left': headerTitleBar.value.Padding.left + 'px',
'margin-top': headerTitleBar.value.Margin.top + 'px',
'margin-right': headerTitleBar.value.Margin.right + 'px',
'margin-bottom': headerTitleBar.value.Margin.bottom + 'px',
'margin-left': headerTitleBar.value.Margin.left + 'px',
'box-shadow': '0px 3.34825px 11.1021px rgba(0, 0, 0, 0.7)'
}">

  <div [ngStyle]="{display: 'flex',
'align-items': 'center',
'justify-content': this.Column1Config}">
    <mat-icon>{{ headerTitleBar.value.headerTitleBar.LeftIcon }}</mat-icon>
  </div>

  <div class="flex justify-center items-center">
    <h1>{{ headerTitleBar.value.headerTitleBar.Title }}</h1>
  </div>

  <div [ngStyle]="{display: 'flex',
'align-items': 'center',
'justify-content': this.Column2Config}">
    <mat-icon>{{ headerTitleBar.value.headerTitleBar.RightIcon }}</mat-icon>
  </div>
</section>