<main [ngClass]="{'dark': darkMode}">
  


  <header
    class="main-header">
    <div class="relative z-20">
      <div class="logo-container">
        <img class="logo" src="../assets/stencil-logo.svg" alt="">
        <div class="logo-text">Stencil UI Simulator (Proof of Concept)</div>
      </div>
    </div>
  
    <div class="viewport-selection-container">
      <div class="viewport-inner">
        <span class="mr-3 text-blue-200">Viewport: </span>
        <span (click)="mediumViewPort()" class="viewport-icon">Apple</span>
        <span (click)="largeViewPort()" class="viewport-icon">Android</span>
        <span (click)="desktopViewPort()" class="viewport-icon">HTML 5</span>
        <span (click)="changeUxTheme()" class="viewport-icon">Change UX Theme</span>
      </div>
    </div>
  
    <div class="docs-button-container">
      <a href="#" class="docs-button">
        Documentation (Coming Soon)
      </a>
    </div>
  </header>
  
  <div class="main-content-container">
  
  <section class="sidebar-container">
    <div class="preview-container" dragula="COMPONENTS">

    <app-mobile-header></app-mobile-header>
    <app-signup-graphic></app-signup-graphic>
    <app-signup-list-item-one></app-signup-list-item-one>
    <app-signup-list-item-two></app-signup-list-item-two>
    <app-basic-button></app-basic-button>
    <app-carousel></app-carousel>
    </div>


  </section>
  
  <section [ngClass]="{'max-w-Android': large, 'max-w-iPhone': medium, 'h-iPhone': medium, 'max-w-screen-xl': desktop}" class="viewport-canvas">
    <div class="viewport-inner-canvas">
      <div class="drop-container" dragula="COMPONENTS">
        <!-- Components get dropped here -->

  



      </div>
    </div>
  </section>
  
  </div>

</main>
