<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity"></div>

  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">

      <div
        class="relative bg-slate-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-11 sm:max-w-lg sm:w-full">
        <div class="bg-slate-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="flex justify-center items-center gap-2 flex-col">
            <img src="../../../assets/developer-coffee-cup.png" class="w-32" alt="coffee cup">
            <div class="text-center">
              <h3 class="text-2xl font-bold leading-6 text-white" id="modal-title">Welcome to the UI simulator!
              </h3>
              <p class="text-base text-gray-400 sm:mt-2">The UI simulator support Stencil v2's data-drien UI
                configurations of
                component and composition libraries.</p>
            </div>
          </div>

          <div class="flex justify-start items-center gap-x-4 my-4">
            <input class="form-control w-full overflow-hidden p-2 my-2 text-sm"
              placeholder="Enter Saved Composition Name" type="text" [(ngModel)]="this.compName" />
            <button type="button" (click)="onSubmit()"
              class="w-full inline-flex justify-center rounded-sm border border-transparent shadow-sm px-3 py-2 bg-emerald-300 text-sm text-gray-900 font-bold sm:w-auto">Load</button>
          </div>

          <span class="text-base text-gray-400 flex justify-center items-center my-4">or</span>

          <div>
            <div (click)="onCancel()"
              class="flex flex-col justify-center items-center text-center bg-gray-900 rounded-md h-full border-dashed border-gray-400 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-emerald-300 duration-300 text-white hover:text-gray-900 hover:cursor-pointer py-8">
              <h4 class="text-md leading-6">Create A New Composition</h4>
              <p class="text-sm sm:mt-2">Create a new composition canvas and let your
                creative beast
                loose!</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>