<div class="form-group" [formGroup]="parent">
  <!-- Reward Pill Text -->  
  <section>
    <h2 class="edit-section-title">
      Reward Pill Text:
    </h2>
      <input
        class="form-control"
        placeholder="Reward Pill Count"
        type="text"
        formControlName="name"
      />
      <div class="mt-4 flex justify-start items-center gap-x-4">
        <button
          class="w-8 h-8 rounded-full bg-white border border-gray-500"
          (click)="setTextColor('textColor', text.white)">
          W
        </button>
        <button
          class="w-8 h-8 rounded-full bg-black border border-gray-500"
          (click)="setTextColor('textColor', text.black)">
          B
        </button>
      </div>

    </section>

    <!-- Icon Selection -->
    <section>
      <h2 class="edit-section-title">
        Icon Selection:
      </h2>
      <div class="icon-selection flex justify-start items-center gap-x-4">
        <img src="../../assets/icons/coin-icon.svg" alt="Sign Up" (click)="setIconImage('icon', '../../assets/icons/coin-icon.svg')">
        <img src="../../assets/icons/list-item-icon-money.svg" alt="Sign Up" (click)="setIconImage('icon', '../../assets/icons/list-item-icon-money.svg')">
        <img src="../../assets/icons/coin-count.svg" alt="Sign Up" (click)="setIconImage('icon', '../../assets/icons/coin-count.svg')">
        <img src="../../assets/icons/fire.svg" alt="Sign Up" (click)="setIconImage('icon', '../../assets/icons/fire.svg')">
        <img src="../../assets/icons/taps.svg" alt="Sign Up" (click)="setIconImage('icon', '../../assets/icons/taps.svg')">
      </div>
    </section>

    <!-- Background Color -->
    <section>
      <h2 class="edit-section-title">
      Background Color:
    </h2>
      <div class="flex justify-between items-center gap-x-10">
        <button
          class="color-button primary-blue"
          (click)="setBgColor('bgColor', bg.primaryBlue)">
          #3589F9
        </button>
        <button
          class="color-button bg-secondarydark"
          (click)="setBgColor('bgColor', bg.secondaryDark)">
          #141414
        </button>
      </div>
    </section>
</div>