<section class="flex font-quicksand" [ngStyle]="{
  color: headline.value.h2.TextColor,
  'justify-content': headline.value.TextAlignment,
  'text-align': headline.value.TextAlignment,
  'font-size': headline.value.TextSize + 'px',
  'font-weight': headline.value.FontWeight,
  'background-color': headline.value.h2.BackgroundColor,
  'padding-top': headline.value.h2.Padding.top + 'px',
  'padding-right': headline.value.h2.Padding.right + 'px',
  'padding-bottom': headline.value.h2.Padding.bottom + 'px',
  'padding-left': headline.value.h2.Padding.left + 'px', 
  'margin-top': headline.value.Margin.top + 'px',
  'margin-right': headline.value.Margin.right + 'px',
  'margin-bottom': headline.value.Margin.bottom + 'px',
  'margin-left': headline.value.Margin.left + 'px' 
}">
  {{ headline.value.h2.Text }}
</section>