<!-- Editable wrapper -->
<section class="w-full true-component">
  <!-- Edit button -->
  <app-edit-button (click)="edit()"></app-edit-button>

  <!-- Actual component -->
  <mat-form-field
    class="w-full px-8 text-white"
    [appearance]="textArea.appearance"
  >
    <mat-label class="text-white">{{ textArea.label }}</mat-label>
    <textarea
      [type]="textArea.type"
      matInput
      [placeholder]="textArea.placeholder"
    ></textarea>
  </mat-form-field>

  <!-- Edit form -->
  <form
    [formGroup]="textAreaForm"
    (ngSubmit)="onSubmit()"
    *ngIf="ess.textAreaEdit"
  >
    <app-editor-sidebar>
      <app-textarea-form [parent]="textAreaForm" edit-form></app-textarea-form>

      <app-text-area-code-form
        [parent]="textAreaForm"
        edit-config-code
      ></app-text-area-code-form>
    </app-editor-sidebar>
  </form>
</section>

<!-- Preview -->
<comp-preview>{{ preview }}</comp-preview>
<!-- In flight -->
<comp-dragging></comp-dragging>
