<section
  class="fixed right-0 top-14 h-edit-sidebar w-85 bg-gray-900 text-white animate__animated animate__fadeInRight animate__faster py-5 pl-5 pr-2 shadow-lg z-50"
  [ngClass]="{
    'edit-headline': ess.headlineEdit,
    'edit-icon-button': ess.iconButtonOnly
  }">
  <ng-container class="h-full overflow-x-hidden overflow-y-auto">
    <div class="relative h-full overflow-y-auto pb-20 pr-5">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Edit Component">
          <ng-content select="[edit-form]"></ng-content>
        </mat-tab>
        <mat-tab label="Edit Config Code">
          <ng-content select="[edit-config-code]"></ng-content>
        </mat-tab>
      </mat-tab-group>
    </div>

    <ng-content select="[save-component]"></ng-content>
  </ng-container>
</section>