<main [formGroup]="parent">
  <div formArrayName="headlineConfig">
    <div *ngFor="let headline of headlines; let i = index">
      <!-- Form-->
      <div [dragula]="COMPONENTS">
        <editable (save)="update(i)" (cancel)="cancel()">
          <section *ngIf="headline">
            <div [formGroupName]="i">
              <div formGroupName="configuration_json">
                <!-- Actual component -->
                <ng-template viewMode>
                  <section
                    [ngStyle]="{
                      'background-color':
                        headline.value.configuration_json.BackgroundColor
                    }"
                    class="true-component"
                  >
                    <div
                      class="font-bold tracking-wide leading-10"
                      [ngStyle]="{
                        'font-size': headline.value.configuration_json.TextSize,
                        color: headline.value.configuration_json.TextColor,
                        'padding-top':
                          headline.value.configuration_json.Padding.top + 'px',
                        'padding-right':
                          headline.value.configuration_json.Padding.right +
                          'px',
                        'padding-bottom':
                          headline.value.configuration_json.Padding.bottom +
                          'px',
                        'padding-left':
                          headline.value.configuration_json.Padding.left + 'px'
                      }"
                    >
                      {{ headline.value.configuration_json.Text }}
                    </div>
                  </section>
                </ng-template>
                <ng-template editMode>
                  <!-- Simply here for preview -->
                  <section
                    [ngStyle]="{
                      'background-color':
                        headline.value.configuration_json.BackgroundColor
                    }"
                  >
                    <div
                      class="font-bold tracking-wide leading-10"
                      [ngStyle]="{
                        'font-size': headline.value.configuration_json.TextSize,
                        color: headline.value.configuration_json.TextColor,
                        'padding-top':
                          headline.value.configuration_json.Padding.top + 'px',
                        'padding-right':
                          headline.value.configuration_json.Padding.right +
                          'px',
                        'padding-bottom':
                          headline.value.configuration_json.Padding.bottom +
                          'px',
                        'padding-left':
                          headline.value.configuration_json.Padding.left + 'px'
                      }"
                    >
                      {{ headline.value.configuration_json.Text }}
                    </div>
                  </section>
                  <app-editor-sidebar>
                    <!-- Edit form -->
                    <div edit-form>
                      <section class="edit-section">
                        <!-- Padding -->
                        <h2 class="edit-section-title">Padding:</h2>
                        <div formGroupName="Padding">
                          <app-padding-control>
                            <input
                              class="form-control w-12 overflow-hidden p-1"
                              placeholder="0"
                              type="number"
                              formControlName="top"
                              paddingTop
                            />
                            <input
                              class="form-control w-12 overflow-hidden p-1"
                              placeholder="0"
                              type="number"
                              formControlName="left"
                              paddingLeft
                            />
                            <input
                              class="form-control w-12 overflow-hidden p-1"
                              placeholder="0"
                              type="number"
                              formControlName="right"
                              paddingRight
                            />
                            <input
                              class="form-control w-12 overflow-hidden p-1"
                              placeholder="0"
                              type="number"
                              formControlName="bottom"
                              paddingBottom
                            />
                          </app-padding-control>
                        </div>
                      </section>
                      <!-- H1 Text -->
                      <h2 class="edit-section-title">Headline:</h2>
                      <input
                        class="form-control p-2"
                        placeholder="Set initial value"
                        type="text"
                        editableOnEnter
                        editableOnEscape
                        formControlName="Text"
                      />
                      <!-- Text Color -->
                      <h2 class="edit-section-title">Text Color:</h2>
                      <section
                        class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden"
                      >
                        <div *ngFor="let color of colorPalettes">
                          <button
                            class="color-button"
                            [class]="[color.class, color.textColor]"
                            (click)="setTextColor(color.color, i)"
                            [tippy]="color.name"
                          ></button>
                        </div>
                      </section>
                      <!-- Background Color -->
                      <h2 class="edit-section-title">Background Color:</h2>
                      <section
                        class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden"
                      >
                        <div *ngFor="let color of colorPalettes">
                          <button
                            class="color-button"
                            [class]="[color.class, color.textColor]"
                            (click)="setBackgroundColor(color.color, i)"
                            [tippy]="color.name"
                          ></button>
                        </div>
                      </section>
                    </div>
                    <!-- Code edit form -->
                    <section edit-config-code>
                      <h2 class="edit-section-title mt-4">
                        Edit configuration code directly:
                      </h2>
                      <code class="code-box">
                        <section>
                          <label for="icon">Text: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="Text"
                          />
                        </section>
                        <section>
                          <label for="icon">TextColor: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="TextColor"
                          />
                        </section>
                        <section formGroupName="Padding">
                          <pre>Padding: </pre>
                          <section>
                            <label for="top">top: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="top"
                            />
                          </section>
                          <section>
                            <label for="right">right: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="right"
                            />
                          </section>
                          <section>
                            <label for="bottom">bottom: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="bottom"
                            />
                          </section>
                          <section>
                            <label for="left">left: </label>
                            <input
                              class="code-form-control"
                              type="text"
                              placeholder="set initial value"
                              formControlName="left"
                            />
                          </section>
                        </section>
                        <section>
                          <label for="icon">BackgroundColor: </label>
                          <input
                            class="code-form-control"
                            type="text"
                            placeholder="set initial value"
                            formControlName="BackgroundColor"
                          />
                        </section>
                      </code>
                    </section>
                    <!-- Save component version -->
                    <div class="form-submit-wrapper z-50" save-component>
                      <section class="form-submit-section">
                        <app-save-button
                          (click)="saveComponent(i)"
                        ></app-save-button>
                        <app-cancel-button editableOnCancel></app-cancel-button>
                      </section>
                    </div>
                  </app-editor-sidebar>
                </ng-template>
              </div>
            </div>
          </section>
        </editable>
      </div>
    </div>
  </div>
</main>
