<main [formGroup]="parent" class="true-component">
  <div formArrayName="headlineConfig">
    <div *ngFor="let headline of headlines; let i = index">
      <!-- Form-->
      <section *ngIf="headline" dragula="COMPONENTS">
        <div [formGroupName]="i">
          <div formGroupName="configuration_json">
            <!-- Actual component -->
            <section
              [ngStyle]="{
                'background-color':
                  headline.value.configuration_json.BackgroundColor
              }"
            >
              <div
                class="font-bold tracking-wide leading-10"
                [ngStyle]="{
                  'font-size': headline.value.configuration_json.TextSize,
                  color: headline.value.configuration_json.TextColor,
                  'padding-top':
                    headline.value.configuration_json.Padding.top + 'px',
                  'padding-right':
                    headline.value.configuration_json.Padding.right + 'px',
                  'padding-bottom':
                    headline.value.configuration_json.Padding.bottom + 'px',
                  'padding-left':
                    headline.value.configuration_json.Padding.left + 'px'
                }"
              >
                {{ headline.value.configuration_json.Text }}
              </div>
            </section>
            <!-- Edit/Copy/Version switch buttons -->
            <div class="edit-button">
              <app-edit-button (click)="edit(i)"></app-edit-button>
              <app-copy-button (click)="copy(i)"></app-copy-button>
              <app-version-button
                (click)="loadVersion(2, i)"
              ></app-version-button>
            </div>
            <!-- Edit sidebar -->
            <app-editor-sidebar class="sidebar" *ngIf="ess.headlineEdit">
              <!-- Base edit form -->
              <section edit-form>
                <div>
                  <!-- H1 Text -->
                  <h2 class="edit-section-title">Set Headline:</h2>
                  <textarea
                    class="textarea-control"
                    placeholder="Set initial value"
                    type="text"
                    formControlName="Text"
                    rows="3"
                    cols="33"
                  ></textarea>
                  <!-- Text Color -->
                  <h2 class="edit-section-title">Set Text Color:</h2>
                  <section
                    class="grid grid-cols-4 justify-between items-center gap-y-4 gap-x-1 max-h-40 overflow-y-auto overflow-x-hidden"
                  >
                    <div *ngFor="let color of colorPalettes">
                      <button
                        class="color-button"
                        [class]="[color.class, color.textColor]"
                        (click)="setTextColor(color.color, i)"
                      >
                        {{ color.name }}
                      </button>
                    </div>
                  </section>
                  <!-- Background Color -->
                  <h2 class="edit-section-title">Set Background Color:</h2>
                  <section
                    class="grid grid-cols-4 justify-between items-center gap-y-4 gap-x-1 max-h-40 overflow-y-auto overflow-x-hidden"
                  >
                    <div *ngFor="let color of colorPalettes">
                      <button
                        class="color-button"
                        [class]="[color.class, color.textColor]"
                        (click)="setBackgroundColor(color.color, i)"
                      >
                        {{ color.name }}
                      </button>
                    </div>
                  </section>
                  <!-- Padding -->
                  <h2 class="edit-section-title">Set Padding:</h2>
                  <div class="grid grid-cols-4 gap-3" formGroupName="Padding">
                    <div class="flex gap-x-2 justify-start items-center">
                      <label
                        class="text-ctdark text-quicksand text-xs font-semibold"
                        for="top"
                      >
                        T:
                      </label>
                      <input
                        class="form-control w-full overflow-hidden"
                        placeholder="Set padding top value"
                        type="text"
                        formControlName="top"
                      />
                    </div>
                    <div class="flex gap-x-2 justify-start items-center">
                      <label
                        class="text-ctdark text-quicksand text-xs font-semibold"
                        for="right"
                      >
                        R:
                      </label>
                      <input
                        class="form-control w-full overflow-hidden"
                        placeholder="Set padding right value"
                        type="text"
                        formControlName="right"
                      />
                    </div>
                    <div class="flex gap-x-2 justify-start items-center">
                      <label
                        class="text-ctdark text-quicksand text-xs font-semibold"
                        for="bottom"
                      >
                        B:
                      </label>
                      <input
                        class="form-control w-full overflow-hidden"
                        placeholder="Set padding bottom value"
                        type="text"
                        formControlName="bottom"
                      />
                    </div>
                    <div class="flex gap-x-2 justify-start items-center">
                      <label
                        class="text-ctdark text-quicksand text-xs font-semibold"
                        for="left"
                      >
                        L:
                      </label>
                      <input
                        class="form-control w-full overflow-hidden"
                        placeholder="Set padding left value"
                        type="number"
                        formControlName="left"
                      />
                    </div>
                  </div>
                </div>
              </section>
              <!-- Code edit form -->
              <section edit-config-code>
                <h2 class="edit-section-title mt-4">
                  Edit configuration code directly:
                </h2>
                <code class="code-box">
                  <!-- <section>
                  <label for="icon">version: </label>
                  <input
                    class="code-form-control"
                    type="text"
                    formControlName="version"
                  />
                </section> -->
                  <section>
                    <label for="icon">Text: </label>
                    <input
                      class="code-form-control"
                      type="text"
                      placeholder="set initial value"
                      formControlName="Text"
                    />
                  </section>
                  <section>
                    <label for="icon">TextColor: </label>
                    <input
                      class="code-form-control"
                      type="text"
                      placeholder="set initial value"
                      formControlName="TextColor"
                    />
                  </section>
                  <section formGroupName="Padding">
                    <pre>Padding: </pre>
                    <section>
                      <label for="top">top: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        placeholder="set initial value"
                        formControlName="top"
                      />
                    </section>
                    <section>
                      <label for="right">right: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        placeholder="set initial value"
                        formControlName="right"
                      />
                    </section>
                    <section>
                      <label for="bottom">bottom: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        placeholder="set initial value"
                        formControlName="bottom"
                      />
                    </section>
                    <section>
                      <label for="left">left: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        placeholder="set initial value"
                        formControlName="left"
                      />
                    </section>
                  </section>
                  <section>
                    <label for="icon">BackgroundColor: </label>
                    <input
                      class="code-form-control"
                      type="text"
                      placeholder="set initial value"
                      formControlName="BackgroundColor"
                    />
                  </section>
                </code>
              </section>
              <!-- Save component version -->
              <div class="form-submit-wrapper z-50" save-component>
                <section class="form-submit-section">
                  <app-save-button (click)="saveComponent(i)"></app-save-button>
                  <app-cancel-button
                    (click)="closeSidebar()"
                  ></app-cancel-button>
                </section>
              </div>
            </app-editor-sidebar>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
