<main [formGroup]="parent">
  <!-- Version -->
  <section class="edit-section">
    <h2 class="edit-section-title">Version:</h2>
    <input
      class="form-control"
      placeholder="Enter initial value"
      type="text"
      formControlName="Version"
    />
  </section>

  <!-- Height -->
  <section class="edit-section">
    <h2 class="edit-section-title">Spacer Height:</h2>
    <input
      class="form-control"
      placeholder="Enter initial value"
      type="text"
      formControlName="Height"
    />
  </section>

  <!-- Background Color -->
  <section class="edit-section">
    <h2 class="edit-section-title">Background Color:</h2>
    <div class="flex justify-between items-center gap-x-10">
      <button
        class="color-button bg-transparent border border-gray-400 text-gray-400"
        (click)="setBgColor('BackgroundColor', '')"
      >
        None
      </button>
      <button
        class="color-button primary-blue"
        (click)="setBgColor('BackgroundColor', '#3589F9')"
      >
        #3589F9
      </button>
    </div>
  </section>
</main>
