<!-- Editable wrapper -->
<main [formGroup]="parent">
  <div formArrayName="spacerConfig">
    <div *ngFor="let spacer of spacers; let i = index">
      <div [dragula]="COMPONENTS">
        <editable (save)="update(i)" (cancel)="cancel()">
          <div [formGroupName]="i">
            <!-- Actual component -->
            <ng-template viewMode>
              <section
                [ngStyle]="{
                  height: this.spacer.value.Height + 'px',
                  'background-color': this.spacer.value.BackgroundColor
                }"
                class="true-component"
              >
                &nbsp;
              </section>
            </ng-template>
            <ng-template editMode>
              <!-- For preview only -->
              <section
                [ngStyle]="{
                  height: this.spacer.value.Height + 'px',
                  'background-color': this.spacer.value.BackgroundColor
                }"
              >
                &nbsp;
              </section>
              <!-- Edit form -->
              <app-editor-sidebar>
                <!-- Base edit for -->
                <section edit-form>
                  <!-- Height -->
                  <section class="edit-section">
                    <h2 class="edit-section-title">Spacer Height:</h2>
                    <div class="flex justify-start items-center gap-x-4">
                      <label
                        class="w-5 h-5 bg-gray-700 border-t-4 border-b-4 border-b-red-200 border-t-red-200"
                        for="Height"
                      >
                      </label>
                      <input
                        class="form-control p-1"
                        placeholder="0"
                        type="number"
                        formControlName="Height"
                      />
                    </div>
                  </section>
                  <!-- Background Color -->
                  <section class="edit-section">
                    <h2 class="edit-section-title">Background Color:</h2>
                    <section
                      class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden"
                    >
                      <div *ngFor="let color of colorPalettes">
                        <button
                          class="color-button"
                          [class]="[color.class, color.textColor]"
                          (click)="changeBgColor(color.color, i)"
                          [tippy]="color.name"
                        ></button>
                      </div>
                    </section>
                  </section>
                </section>
                <!-- Code edit form -->
                <code class="code-box" edit-config-code>
                  <section>
                    <label for="icon">Height: </label>
                    <input
                      class="code-form-control"
                      type="text"
                      placeholder="set initial value"
                      formControlName="Height"
                    />
                  </section>
                  <section>
                    <label for="icon">BackgroundColor: </label>
                    <input
                      class="code-form-control"
                      type="text"
                      placeholder="set initial value"
                      formControlName="BackgroundColor"
                    />
                  </section>
                </code>
                <!-- Save component version -->
                <div class="form-submit-wrapper z-50" save-component>
                  <section class="form-submit-section">
                    <app-save-button
                      (click)="saveComponent(i)"
                    ></app-save-button>
                    <app-cancel-button editableOnCancel></app-cancel-button>
                  </section>
                </div>
              </app-editor-sidebar>
            </ng-template>
          </div>
        </editable>
      </div>
    </div>
  </div>
</main>
