<h2 class="edit-section-title mt-4">Edit configuration code directly:</h2>
<form [formGroup]="parent">
  <code class="code-box">
    <section>
      <label for="icon">Version: </label>
      <input class="code-form-control" type="text" formControlName="Version" />
    </section>
    <section>
      <label for="icon">Text: </label>
      <input class="code-form-control" type="text" formControlName="Text" />
    </section>
    <section>
      <label for="icon">CornerRadius: </label>
      <input
        class="code-form-control"
        type="text"
        formControlName="CornerRadius"
      />
    </section>
    <section>
      <label for="icon">BackgroundColor: </label>
      <input
        class="code-form-control"
        type="text"
        formControlName="BackgroundColor"
      />
    </section>
    <section>
      <label for="icon">Width: </label>
      <input class="code-form-control" type="text" formControlName="Width" />
    </section>
    <section>
      <label for="icon">CommandName: </label>
      <input
        class="code-form-control"
        type="text"
        formControlName="CommandName"
      />
    </section>
    <section>
      <label for="icon">CommandParameter: </label>
      <input
        class="code-form-control"
        type="text"
        formControlName="CommandParameter"
      />
    </section>
    <section formGroupName="Padding">
      <pre>Padding </pre>

      <section>
        <label for="top">top: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="top"
          [value]="text"
        />
      </section>

      <section>
        <label for="right">right: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="right"
          [value]="text"
        />
      </section>

      <section>
        <label for="bottom">bottom: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="bottom"
          [value]="text"
        />
      </section>

      <section>
        <label for="left">left: </label>
        <input
          class="code-form-control"
          type="text"
          placeholder="set initial value"
          formControlName="left"
          [value]="text"
        />
      </section>
    </section>
  </code>
</form>
