<section
  editableGroup
  (editableModeChange)="handleModeChange($event)"
  (save)="updateGroupedEdition()"
  (cancel)="cancelGroupedEdition()"
  class="true-component"
>
  <form [formGroup]="groupedForm" class="grid grid-cols-3 py-6">
    <div></div>
    <article>
      <editable>
        <ng-template viewMode>
          <div class="flex justify-center items-center"><img src="../../../assets/crowdtap-logo.svg" alt="" /></div>
        </ng-template>
        <ng-template editMode> Nope </ng-template>
      </editable>
    </article>
    <article class="flex justify-end items-center mr-2">
      <editable>
        <ng-template viewMode>
          <button
            class="reward-pill-button"
          >
            <img
              class="w-4"
              src="../../../assets/icons/{{ rewardPill.rewardIcon }}.svg"
              alt=""
            />
            {{ rewardPill.rewardCount }}
          </button>
        </ng-template>
        <ng-template editMode>
          <div class="form-group">
            <input
              class="form-control"
              placeholder="Reward Pill Count"
              type="text"
              formControlName="name"
            />
            <input
              class="form-control"
              placeholder="Reward Pill Icon"
              type="text"
              formControlName="icon"
            />
          </div>
        </ng-template>
      </editable>
    </article>
  </form>
  <aside class="edit-section">
    <app-edit-button
      class="edit-button"
      *ngIf="mode === 'view'"
    ></app-edit-button>
    <app-save-button
      class="save-button"
      *ngIf="mode === 'edit'"
    ></app-save-button>
    <app-cancel-button
      class="cancel-button"
      *ngIf="mode === 'edit'"
    ></app-cancel-button>
  </aside>
</section>

<section class="preview-component">App <Header></Header></section>
