<!-- Editable wrapper -->
<section class="w-full true-component">
  <!-- Edit button -->
  <app-edit-button (click)="edit()"></app-edit-button>

  <!-- Actual component -->
  <div class="flex justify-center items-center text-center tracking-headline">
    <h1 class="my-2 text-base font-bold">
      {{ paragraph.string }}
    </h1>
  </div>

  <!-- Edit form -->
  <form
    [formGroup]="paragraphForm"
    (ngSubmit)="onSubmit()"
    *ngIf="ess.paragraphEdit"
  >
    <app-editor-sidebar>
      <app-paragraph-form
        [parent]="paragraphForm"
        edit-form
      ></app-paragraph-form>

      <app-paragraph-code-form
        [parent]="paragraphForm"
        edit-config-code
      ></app-paragraph-code-form>
    </app-editor-sidebar>
  </form>
</section>

<!-- Preview -->
<comp-preview>{{ preview }}</comp-preview>
<!-- In flight -->
<comp-dragging></comp-dragging>
