<!-- Editable wrapper -->
<main [formGroup]="parent">
  <div formArrayName="iconButtonConfig">
    <div *ngFor="let iconButton of iconButtons; let i = index">
      <div [dragula]="COMPONENTS">
        <editable (save)="update(i)" (cancel)="cancel()" *ngIf="iconButton">
          <div [formGroupName]="i">
            <div formGroupName="configuration_json">
              <!-- Actual component -->
              <ng-template viewMode>
                <section class="icon-button-grid true-component">
                  <button
                    class="icon-button"
                    [ngStyle]="{
                      color: this.iconButton.value.configuration_json.TextColor,
                      'background-color':
                        this.iconButton.value.configuration_json
                          .BackgroundColor,
                      width:
                        this.iconButton.value.configuration_json.Width + '%',
                      'border-radius':
                        this.iconButton.value.configuration_json.CornerRadius +
                        'px',
                      'padding-top':
                        this.iconButton.value.configuration_json.Padding!.top +
                        'px',
                      'padding-right':
                        this.iconButton.value.configuration_json.Padding.right +
                        'px',
                      'padding-bottom':
                        this.iconButton.value.configuration_json.Padding
                          .bottom + 'px',
                      'padding-left':
                        this.iconButton.value.configuration_json.Padding.left +
                        'px',
                      'margin-top':
                        this.iconButton.value.configuration_json.Margin.top +
                        'px',
                      'margin-right':
                        this.iconButton.value.configuration_json.Margin.right +
                        'px',
                      'margin-bottom':
                        this.iconButton.value.configuration_json.Margin.bottom +
                        'px',
                      'margin-left':
                        this.iconButton.value.configuration_json.Margin.left +
                        'px'
                    }"
                  >
                    <mat-icon>{{
                      iconButton.value.configuration_json.Icon
                    }}</mat-icon>
                    {{ iconButton.value.configuration_json.Text }}
                  </button>
                </section>
              </ng-template>
              <ng-template editMode>
                <!-- Simply here for preview -->
                <section class="icon-button-grid">
                  <button
                    class="icon-button"
                    [ngStyle]="{
                      color: this.iconButton.value.configuration_json.TextColor,
                      'background-color':
                        this.iconButton.value.configuration_json
                          .BackgroundColor,
                      width:
                        this.iconButton.value.configuration_json.Width + '%',
                      'border-radius':
                        this.iconButton.value.configuration_json.CornerRadius +
                        'px',
                      'padding-top':
                        this.iconButton.value.configuration_json.Padding!.top +
                        'px',
                      'padding-right':
                        this.iconButton.value.configuration_json.Padding.right +
                        'px',
                      'padding-bottom':
                        this.iconButton.value.configuration_json.Padding
                          .bottom + 'px',
                      'padding-left':
                        this.iconButton.value.configuration_json.Padding.left +
                        'px',
                      'margin-top':
                        this.iconButton.value.configuration_json.Margin.top +
                        'px',
                      'margin-right':
                        this.iconButton.value.configuration_json.Margin.right +
                        'px',
                      'margin-bottom':
                        this.iconButton.value.configuration_json.Margin.bottom +
                        'px',
                      'margin-left':
                        this.iconButton.value.configuration_json.Margin.left +
                        'px'
                    }"
                  >
                    <mat-icon>{{
                      iconButton.value.configuration_json.Icon
                    }}</mat-icon>
                    {{ iconButton.value.configuration_json.Text }}
                  </button>
                </section>
                <!-- Edit form -->
                <app-editor-sidebar class="sidebar">
                  <!-- Edit form -->
                  <section edit-form>
                    <!-- Left icon section -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">
                        Set Button Icon (Material Icons):
                      </h2>
                      <section
                        class="flex flex-start justify-between items-center gap-3 flex-wrap"
                      >
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('', i)"
                        >
                          None
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('keyboard_arrow_right', i)"
                        >
                          <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('keyboard_arrow_left', i)"
                        >
                          <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('keyboard_arrow_down', i)"
                        >
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('keyboard_arrow_up', i)"
                        >
                          <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('search', i)"
                        >
                          <mat-icon>search</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('home', i)"
                        >
                          <mat-icon>home</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('account_circle', i)"
                        >
                          <mat-icon>account_circle</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('settings', i)"
                        >
                          <mat-icon>settings</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('done', i)"
                        >
                          <mat-icon>done</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('info', i)"
                        >
                          <mat-icon>info</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('delete', i)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('check_circle', i)"
                        >
                          <mat-icon>check_circle</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('shopping_cart', i)"
                        >
                          <mat-icon>shopping_cart</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('favorite', i)"
                        >
                          <mat-icon>favorite</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('logout', i)"
                        >
                          <mat-icon>logout</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('login', i)"
                        >
                          <mat-icon>login</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('bolt', i)"
                        >
                          <mat-icon>bolt</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('grade', i)"
                        >
                          <mat-icon>grade</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('autorenew', i)"
                        >
                          <mat-icon>autorenew</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('add_box', i)"
                        >
                          <mat-icon>add_box</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('android', i)"
                        >
                          <mat-icon>android</mat-icon>
                        </button>
                        <button
                          class="mat-icon-edit-view"
                          (click)="changeIcon('apple', i)"
                        >
                          <mat-icon>apple</mat-icon>
                        </button>
                      </section>
                    </section>

                    <!-- Padding -->
                    <section class="edit-section">
                      <!-- Padding -->
                      <h2 class="edit-section-title">Padding:</h2>
                      <div formGroupName="Padding">
                        <app-padding-control>
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="top"
                            paddingTop
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="left"
                            paddingLeft
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="right"
                            paddingRight
                          />
                          <input
                            class="form-control w-12 overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="bottom"
                            paddingBottom
                          />
                        </app-padding-control>
                      </div>
                    </section>

                    <!-- Margin -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">Margin:</h2>
                      <div
                        class="grid grid-cols-4 gap-3"
                        formGroupName="Margin"
                      >
                        <div class="flex gap-x-2 justify-start items-center">
                          <label
                            class="w-5 h-5 bg-gray-700 border-t-4 border-red-200"
                            for="top"
                          >
                          </label>
                          <input
                            class="form-control w-full overflow-hidden p-1"
                            placeholder="0"
                            type="text"
                            formControlName="top"
                          />
                        </div>
                        <div class="flex gap-x-2 justify-start items-center">
                          <label
                            class="w-5 h-5 bg-gray-700 border-r-4 border-red-200"
                            for="right"
                          >
                          </label>
                          <input
                            class="form-control w-full overflow-hidden p-1"
                            placeholder="0"
                            type="text"
                            formControlName="right"
                          />
                        </div>
                        <div class="flex gap-x-2 justify-start items-center">
                          <label
                            class="w-5 h-5 bg-gray-700 border-b-4 border-red-200"
                            for="bottom"
                          >
                          </label>
                          <input
                            class="form-control w-full overflow-hidden p-1"
                            placeholder="0"
                            type="text"
                            formControlName="bottom"
                          />
                        </div>
                        <div class="flex gap-x-2 justify-start items-center">
                          <label
                            class="w-5 h-5 bg-gray-700 border-l-4 border-red-200"
                            for="left"
                          >
                          </label>
                          <input
                            class="form-control w-full overflow-hidden p-1"
                            placeholder="0"
                            type="number"
                            formControlName="left"
                          />
                        </div>
                      </div>
                    </section>

                    <!-- Button Width -->
                    <section class="edit-section edit-section-title">
                      <div class="grid grid-cols-2">
                        <div class="flex justify-start items-center gap-x-2">
                          <label
                            for="Width"
                            class="text-white text-noir text-xs font-normal"
                            >Width:</label
                          >
                          <input
                            type="text"
                            class="form-control w-12 overflow-hidden p-1"
                            formControlName="Width"
                          />
                        </div>
                        <div class="flex justify-start items-center gap-x-2">
                          <label
                            for="Height"
                            class="text-white text-noir text-xs font-normal"
                            >Height:</label
                          >
                          <input
                            type="text"
                            class="form-control w-12 overflow-hidden p-1 hover:cursor-not-allowed"
                            disabled
                            placeholder="auto"
                          />
                        </div>
                      </div>
                    </section>

                    <!-- Border Radius -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">Border Radius:</h2>
                      <div class="flex justify-between items-center">
                        <button
                          role="tab"
                          class="radius-edit-button"
                          (click)="changeBorderRadius('9999', i)"
                        >
                          <div class="full"></div>
                          <div class="text-xs font-normal font-noir">Full</div>
                        </button>
                        <button
                          role="tab"
                          class="radius-edit-button"
                          (click)="changeBorderRadius('8', i)"
                        >
                          <div class="large"></div>
                          <div class="text-xs font-normal font-noir">Large</div>
                        </button>
                        <button
                          role="tab"
                          class="radius-edit-button"
                          (click)="changeBorderRadius('2', i)"
                        >
                          <div class="small"></div>
                          <div class="text-xs font-normal font-noir">Small</div>
                        </button>
                      </div>
                    </section>

                    <!-- Button Text -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">Button Text:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Set Initial Value"
                        type="text"
                        formControlName="Text"
                      />
                    </section>

                    <!-- Text Color -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">Text Color:</h2>
                      <section
                        class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden"
                      >
                        <div *ngFor="let color of colorPalettes">
                          <button
                            class="color-button"
                            [class]="[color.class, color.textColor]"
                            (click)="changeTextColor(color.color, i)"
                            [tippy]="color.name"
                          ></button>
                        </div>
                      </section>
                    </section>

                    <!-- Background Color -->
                    <section class="edit-section">
                      <h2 class="edit-section-title">Background Color:</h2>
                      <section
                        class="flex flex-wrap justify-start items-center max-h-40 overflow-y-auto overflow-x-hidden"
                      >
                        <div *ngFor="let color of colorPalettes">
                          <button
                            class="color-button"
                            [class]="[color.class, color.textColor]"
                            (click)="changeBgColor(color.color, i)"
                            [tippy]="color.name"
                          ></button>
                        </div>
                      </section>
                    </section>

                    <!-- Command Name Text -->
                    <section class="edit-section">
                      <h1 class="font-noir font-normal mb-4">
                        Button Commands
                      </h1>
                      <p class="font-noir font-normal text-xs mb-4">
                        Set a button command below, this will result in the
                        button's action when the user interacts with it on
                        mobile.
                      </p>
                      <h2 class="edit-section-title">Command Name:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Set Initial Value"
                        type="text"
                        formControlName="CommandName"
                      />
                      <!-- Command Parameter -->
                      <h2 class="edit-section-title">Command Parameter:</h2>
                      <input
                        class="form-control p-1"
                        placeholder="Set Initial Value"
                        type="text"
                        formControlName="CommandParameter"
                      />
                    </section>
                  </section>
                  <!-- Code edit form -->
                  <code class="code-box" edit-config-code>
                    <section>
                      <label for="icon">Text: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Text"
                      />
                    </section>
                    <section>
                      <label for="icon">CornerRadius: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="CornerRadius"
                      />
                    </section>
                    <section>
                      <label for="icon">BackgroundColor: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="BackgroundColor"
                      />
                    </section>
                    <section>
                      <label for="icon">Width: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Width"
                      />
                    </section>
                    <section>
                      <label for="icon">CommandName: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="CommandName"
                      />
                    </section>
                    <section>
                      <label for="icon">CommandParameter: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="CommandParameter"
                      />
                    </section>
                    <section>
                      <label for="icon">Icon: </label>
                      <input
                        class="code-form-control"
                        type="text"
                        formControlName="Icon"
                      />
                    </section>
                    <section formGroupName="Padding">
                      <pre>Padding </pre>
                      <section>
                        <label for="top">top: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="top"
                        />
                      </section>
                      <section>
                        <label for="right">right: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="right"
                        />
                      </section>
                      <section>
                        <label for="bottom">bottom: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="bottom"
                        />
                      </section>
                      <section>
                        <label for="left">left: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="left"
                        />
                      </section>
                    </section>
                    <section formGroupName="Margin">
                      <pre>Margin </pre>
                      <section>
                        <label for="top">top: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="top"
                        />
                      </section>
                      <section>
                        <label for="right">right: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="right"
                        />
                      </section>
                      <section>
                        <label for="bottom">bottom: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="bottom"
                        />
                      </section>
                      <section>
                        <label for="left">left: </label>
                        <input
                          class="code-form-control"
                          type="text"
                          placeholder="set initial value"
                          formControlName="left"
                        />
                      </section>
                    </section>
                  </code>
                  <!-- Save component version -->
                  <div class="form-submit-wrapper z-50" save-component>
                    <section class="form-submit-section">
                      <app-save-button
                        (click)="saveComponent(i)"
                      ></app-save-button>
                      <app-cancel-button editableOnCancel></app-cancel-button>
                    </section>
                  </div>
                </app-editor-sidebar>
              </ng-template>
            </div>
          </div>
        </editable>
      </div>
    </div>
  </div>
</main>
